<template>
    <div class="card card-custom gutter-b example example-compact">
        <div class="card-header">
            <h3 class="card-title">Создание задачи</h3>
            <div class="card-toolbar">
                <div class="example-tools justify-content-center">

                </div>
            </div>
        </div>
        <form>
            <div class="card-body">

                <BaseInput
                    type="text"
                    :label="'Название *'"
                    :error="errors.get('title')"
                    v-model="form.title"
                />

                <BaseTextarea
                    rows="3"
                    :label="'Описание задачи'"
                    :error="errors.get('seo_description')"
                    v-model="form.description"
                />

            </div>
            <div class="card-footer">
                <BaseButton @click.prevent="save()">Сохранить</BaseButton>
                <BaseButton btnClass="btn-secondary" @click.prevent="$emit('close')">Отменить</BaseButton>
            </div>
        </form>
    </div>
</template>

<script>

import {mapActions, mapGetters} from 'vuex';
import {Errors} from '@/classes/Errors';
import axios from "axios";

export default {

    name: 'Form',
    props: {
      project_id: null
    },
    computed: {
    ...mapGetters('product', {
        'categories': 'getRootCategories'
    }),
    ...mapActions([
      'CREATE_TASK',
    ]),
  },

    data () {
        return {
            form: this.initForm(),
            errors: new Errors()
        }
    },

    methods: {
      changed(e){
        this.form.category_id = e.length ? e.slice(-1)[0] : null;
      },

        initForm() {
            return {
                title: '',
                description: '',
                status_id: 1,
                project_id: this.project_id,
            }
        },

        save() {
          axios.post('tasks', this.form)
            .then(() => {
              this.$store.dispatch('CREATE_TASKS', this.form)

              window.location.href = '/kanban/' + this.project_id
              this.$emit('close');
              this.$modal.hide('category-form')
              this.form = this.initForm();
            })
            .catch(() => {
            })
        }
    },

    created() {}
}
</script>
