<template>
    <div class="card card-custom">
        <div class="card-header">
            <h3 class="card-title">Создание товара</h3>
            <div class="card-toolbar">
                <div class="example-tools justify-content-center">

                </div>
            </div>
        </div>
        <form>
            <div class="card-body">
                <BaseInput
                    type="text"
                    :label="'Название *'"
                    :error="errors.get('good_title')"
                    v-model="form.good_title"
                />

                <BaseTextarea
                    rows="3"
                    :label="'Описание *'"
                    :error="errors.get('good_description')"
                    v-model="form.good_description"
                />

                <div class="form-group">
                    <el-upload
                        action="''"
                        :auto-upload="false"
                        :file-list="imageList"
                        list-type="picture-card"
                        :on-preview="handlePictureCardPreview"
                        :on-remove="handleRemove"
                        ref="upload"
                        >
                        <i class="el-icon-plus"></i>
                    </el-upload>
                    <el-dialog :visible.sync="dialogVisible">
                      <img width="100%" :src="dialogImageUrl" alt="">
                    </el-dialog>
                </div>

                <div class="form-group">
                    <el-upload
                        class="upload-demo"
                        action="''"
                        :auto-upload="false"
                        :on-remove="handleRemove"
                        multiple
                        :file-list="fileList"
                        accept=".txt,.zip"
                        ref="upload-files"
                      >
                     <el-button size="small" type="primary">Загрузить файл</el-button>
                      <div slot="tip" class="el-upload__tip">Доступные форматы: .txt, .zip</div>
                    </el-upload>
                </div>

              <div class="form-group">
                <label>Родительская категория</label>
                <el-cascader
                    class="d-block"
                    :show-all-levels="false"
                    :value="form.category_id"
                    :options="getRootCategories"
                    :props="{ checkStrictly: true, value: 'id', label: 'title', children: 'child_category'}"
                    clearable
                    @change="changed">

                </el-cascader>
              </div>

                <BaseSelect
                    :label="'Тип товара'"
                    :options='goodsTypes'
                    :error="errors.get('good_type')"
                    v-model="form.good_type"
                />

                <BaseInput
                    type="number"
                    :disabled="true"
                    :label="'Остаток'"
                    :value="form.good_left"
                />
                <BaseInput
                        type="number"
                        :label="'Цена'"
                    v-model="price"
                    ></BaseInput>
                <h3>Seo</h3>
                <BaseInput
                    type="text"
                    :label="'SEO h1 *'"
                    :error="errors.get('seo_h1')"
                    v-model="form.seo_h1"
                />

                <BaseInput
                    type="text"
                    :label="'SEO title *'"
                    :error="errors.get('seo_title')"
                    v-model="form.seo_title"
                />

                <BaseInput
                    type="text"
                    :label="'SEO slug'"
                    :error="errors.get('seo_slug')"
                    v-model="form.seo_slug"
                />

                <BaseTextarea
                    rows="3"
                    :label="'SEO description *'"
                    :error="errors.get('seo_description')"
                    v-model="form.seo_description"
                />

                <div class="form-group">
                    <label>Статус</label>
                    <div class="checkbox-list">
                        <label class="checkbox">
                        <input
                            type="checkbox"
                            v-model.number="form.active"
                            true-value="1"
                            false-value="0">
                        <span></span>Активен</label>
                    </div>
                </div>

            </div>
            <div class="card-footer">
                <BaseButton
                    :disabled="isProcess"
                    :loading="isProcess"
                    @click.prevent="save()"
                    >Сохранить</BaseButton>
                <BaseButton btnClass="btn-secondary" @click.prevent="$modal.hide('good-form')">Отменить</BaseButton>
            </div>
        </form>
    </div>
</template>

<script>

import {mapState, mapGetters} from 'vuex';
import {Errors} from '@/classes/Errors';
import BaseInput from "../base/BaseInput";
export default {
    components: {BaseInput,},
    name: 'Form',
    props: {
        good: Object
    },
    computed: {
        ...mapState('product', ['categories']),
        ...mapGetters('product', ['getRootCategories']),
        imageList() {

            return this.form.images.map(el => {
                return {
                    name: `Image_${el.id}`,
                    url: this.$configApi.auth + el.img_original,
                    id: el.id
                }
            })
        },
        fileList() {

            return this.form.files.map(el => {
                return {
                    name: el.file_name,
                    id: el.id
                }
            })
        },
        price: {
            set: function(val){
               let [integer, decimal] = String(val).split('.');
                this.form.price_integer = Number(integer || 0);
                this.form.price_decimal = Number(decimal.substr(0,2) || 0);
            },
            get: function(){
                return Number(`${this.form.price_integer}.${this.form.price_decimal}`)
            }
        }
    },

    watch: {
        'form.good_type': function(val) {
            if (val == 'unlimited') {
                this.form.good_left = 0
            }
        }
    },

    data () {
        return {
            // price: 0,
            form: this.initForm(),
            errors: new Errors(),
            goodsTypes: [
                {
                    id: 'limited',
                    title: 'Ограниченный'
                },
                {
                    id: 'unlimited',
                    title: 'Неограниченный'
                }
            ],
            dialogVisible: false,
            dialogImageUrl: null,
            isProcess: false
        }
    },

    methods: {
      changed(e){
        this.form.category_id = e.length ? e.slice(-1)[0] : null;
      },

        handleRemove(file) {
            if (file.id) {
                this.form.deleted_files.push(file.id)
            }
        },

        handlePictureCardPreview(file) {
            this.dialogImageUrl = file.url;
            this.dialogVisible = true;
        },

        initForm() {
            return {
                good_title: '',
                good_description: '',
                category_id: null,
                seo_h1: '',
                seo_title: '',
                seo_slug: '',
                seo_description: '',
                active: 1,
                good_left: 0,
                good_type: 'limited',
                files: [],
                images: [],
                deleted_files: [],
                price_integer: 0,
                price_decimal: 0
            }
        },

        save() {

            if (this.isProcess) return;

            let formData = new FormData();

            for (var key in this.form) {

                if (Array.isArray(this.form[key])) {

                    let arr = this.form[key];

                    for (let i=0; i < arr.length; i++) {
                        formData.append(`${key}[${i}]`, arr[i])
                    }

                    continue
                }

                formData.append(key, this.form[key])

            }

            let images = this.$refs.upload.uploadFiles

            for (let i=0; i < images.length; i++) {

                if (images[i].raw) {
                    formData.append(`img[${i}]`, images[i].raw)
                }

            }

            let files = this.$refs['upload-files'].uploadFiles

            for (let i=0; i < files.length; i++) {

                if (files[i].raw) {
                    formData.append(`file[${i}]`, files[i].raw)
                }

            }


            if (this.good) {
                formData.append("_method", "PUT");
            }

            let url = this.good ? '/admin/goods/' + this.good.id : '/admin/goods'

            this.isProcess = true;

            this.$axios.post(url, formData, {
                headers: {
                    'Content-Type': 'multipart/form-data'
                }
            }).then(() => {
                this.$modal.hide('good-form');
                this.$emit('onSave');
                this.isProcess = false;
            }).catch(errors => {
                console.log(errors)

                this.isProcess = false;
                this.$notify.error({
                    message: 'Ошибка сохранения товара'
                });

                if (errors.response.status == 422) {
                    this.errors.set(errors.response.data.errors);
                }
            })

        }
    },
    created() {
        if (this.good) {
            this.form = Object.assign({}, this.initForm(), this.good);
            this.form.active = Number(this.form.active);
        }

        this.$store.dispatch('product/getCategories')

    }

}
</script>
