<template>
    <div class="card card-custom gutter-b example example-compact">
        <div class="card-header">
            <h3 class="card-title">Создание товара</h3>
            <div class="card-toolbar">
                <div class="example-tools justify-content-center">

                </div>
            </div>
        </div>        
        <form>
            <div class="card-body">                
                <BaseInput
                    type="text"
                    :label="'Вопрос *'"
                    :error="errors.get('question')"
                    v-model="form.question"
                />

                <BaseTextarea
                    rows="3"
                    :label="'Ответ *'"
                    :error="errors.get('answer')"
                    v-model="form.answer"
                />

                <div class="form-group">
                    <el-upload
                        action="''"
                        :auto-upload="false"
                        :file-list="fileList"
                        list-type="picture-card"
                        :on-preview="handlePictureCardPreview"
                        :on-remove="handleRemove"
                        ref="upload"
                        >
                        <i class="el-icon-plus"></i>
                    </el-upload>
                    <el-dialog :visible.sync="dialogVisible">
                      <img width="100%" :src="dialogImageUrl" alt="">
                    </el-dialog>
                </div>              
               
            </div>
            <div class="card-footer">
                <BaseButton 
                    :disabled="isProcess"
                    :loading="isProcess"
                    @click.prevent="save()"
                    >Сохранить</BaseButton>
                <BaseButton btnClass="btn-secondary" @click.prevent="$modal.hide('faq-form')">Отменить</BaseButton>
            </div>
        </form>       
    </div>
</template>

<script>

import {Errors} from '@/classes/Errors';

export default {

    name: 'Form',
    props: {
        faq: Object
    },

    data () {
        return {
            form: this.initForm(),
            errors: new Errors(),
            isProcess: false,
            dialogVisible: false,
            dialogImageUrl: null
        }
    },

    computed: {
        fileList() {

            return this.form.images.map(el => {           
                return {
                    name: `Image_${el.id}`,
                    url: this.$configApi.auth + el.image.img_original,
                    id: el.id
                }
            })
        }
    },

    methods: {
        handleRemove(file) {
            if (file.id) {
                this.form.deleted_files.push(file.id)
            }
        },

        handlePictureCardPreview(file) {            
            this.dialogImageUrl = file.url;
            this.dialogVisible = true;
        },


        initForm() {
            return {
                question: '',
                answer: '',
                images: [],
                deleted_files: []
            }
        },

        save() {

            if (this.isProcess) return;

            let formData = new FormData();

            for (var key in this.form) {

                if (Array.isArray(this.form[key])) {

                    let arr = this.form[key];

                    for (let i=0; i < arr.length; i++) {                       
                        formData.append(`${key}[${i}]`, arr[i]) 
                    }

                    continue
                } 
                
                formData.append(key, this.form[key])
                                
            }

            let images = this.$refs.upload.uploadFiles

            for (let i=0; i < images.length; i++) {

                if (images[i].raw) {
                    formData.append(`img[${i}]`, images[i].raw)
                }
              
            }

            if (this.faq) {
                formData.append("_method", "PUT");
            }
           
            let url = this.faq ? '/admin/faq/' + this.faq.id : '/admin/faq'

            this.isProcess = true;

            this.$axios.post(url, formData, {
                headers: {
                    'Content-Type': 'multipart/form-data'
                }
            }).then(() => {
                this.$modal.hide('faq-form');
                this.$emit('onSave');
                this.isProcess = false;
            }).catch(errors => {
                this.isProcess = false;
                this.$notify.error({
                    message: 'Ошибка сохранения товара'
                });
         
                if (errors.response.status == 422) {
                    this.errors.set(errors.response.data.errors);
                }
            })

        }
    },
    created() {
        if (this.faq) {
            this.form = Object.assign({}, this.initForm(), this.faq);
        }
    }

}

</script>