<template>
    <div class="card card-custom">
        <div class="card-header flex-wrap border-0 pt-6 pb-0">
            <div class="card-title">
                <h3 class="card-label">Управление ключами
                </h3>
            </div>
            <!-- <div class="card-toolbar">
                <BaseCreateBtn
                    @click="addSettings()"
                >Создать</BaseCreateBtn>
            </div> -->
        </div>
        <div class="card-body">
            <div class="dataTables_wrapper dt-bootstrap4 no-footer">
                <v-server-table
                    url="/admin/manage-settings"
                    :columns="columns"
                    :options="options"
                    class="keys"
                    ref="keys-table"
                    >
                    <div slot="data" slot-scope="props">
                        <p v-if="props.row.data && props.row.data.public_key">Public key: {{props.row.data.public_key | hidden}}</p>
                        <p v-if="props.row.data && props.row.data.secret_key">Secret key: {{props.row.data.secret_key | hidden}}</p>
                    </div>
                    <div class="text-center" slot="actions" slot-scope="props" >
                        <div class="dropdown dropdown-inline">
                            <BaseTableEditBtn
                                @click="editSetting(props.row)"
                            />

                          <!--   <BaseTableDeleteBtn
                                @click="deleteSetting(props.row.id)"
                            /> -->
                        </div>
                    </div>
                </v-server-table>
            </div>
            <modal name="keys-form" height="auto" :scrollable="true" :adaptive="true">
                <SettingForm
                    :settings="setting"
                    @onSave="$refs['keys-table'].refresh()"
                />
            </modal>
        </div>
    </div>
</template>

<script>

import SettingForm from '@/components/access-keys/Form';

export default {

    name: 'Index',

    components: {SettingForm},

    data () {
        return {
            setting: null,
            columns: [
                'service_title',               
                'actions'
            ],
            options: {
                headings: {
                    service_title: 'Сервис',
                    data: 'Данные',
                    actions: 'Действия'
                },
                filterable:false
            }
        }
    },

    filters: {
        hidden: function(val) {
            return '*****' + val.split('').slice(-10).join('');
        }
    },

    methods: {
        addSettings() {
            this.setting = null;
            this.$modal.show('keys-form')
        },

        editSetting(setting) {
            this.setting = setting;
            this.$modal.show('keys-form')
        },

        deleteSetting(id) {
            this.$confirm('Вы действительно хотите удалить эту настройку?')
                .then(() => {
                    this.$axios.delete(`/admin/manage-settings/${id}`).then(() => {
                        this.$refs['keys-table'].refresh()
                        this.$notify({
                          title: 'Success',
                          message: 'Настройка успешно удалена',
                          type: 'success'
                        });
                    });

                })
                .catch(() => {
                    this.$notify.error({
                        title: 'Error',
                        message: 'Ошибка удаления настройки'
                    });
                });
        }

    }
}
</script>
<style>
  .keys table th:nth-child(3) {
        width: 20px;
      text-align: center;

  }
</style>
