<template>
     <div class="card card-custom">
        <div class="card-header flex-wrap border-0 pt-6 pb-0">
            <div class="card-title">
                <h3 class="card-label">Заказы 
                </h3>
            </div>            
        </div>
        <div class="card-body">
            <div class="dataTables_wrapper dt-bootstrap4 no-footer">
                <v-server-table 
                    url="/admin/statistics/orders" 
                    :columns="columns" 
                    :options="options"
                    ref="orders-table"
                    >
                  <div slot="created_at" slot-scope="props">
                    {{ props.row.created_at | moment("DD.MM.YY HH:mm")}}
                  </div>
                    <div slot="goods" slot-scope="props">
                        <div v-for="(good, $goodIndex) in props.row.goods" :key="good.id">
                          <p>{{$goodIndex + 1}}. <span class="font-weight-bolder">{{good.good_title}}</span>:
                            {{good.pivot.quantity}} x <i class="la la-rub text-dark"></i>{{Number.parseFloat(`${good.price_integer}.${good.price_decimal}`).toFixed(2)}}</p>
                        </div>
                    </div>
                    <div slot="payment" slot-scope="props" class="text-center">
                        <div v-if="props.row.payment && props.row.payment.service_title == 'qiwi'" >
                            <p>{{props.row.payment.service_title}}</p>
                            <p>{{props.row.payment.data.account}}</p>
                        </div>
                        <div v-if="props.row.payment && props.row.payment.service_title == 'blockchain'" >
                            <p>Blockchain</p>
                            <p v-if="props.row.raw">{{props.row.raw.currency}}, {{props.row.additional_data.address}}</p>
                        </div>
                        <div v-if="props.row.payment && props.row.payment.service_title == 'payeer'" >
                            <p>Payeer</p>                            
                        </div>
                    </div>
                  <div slot="updated_at" slot-scope="props">
                    {{ props.row.updated_at | moment("DD.MM.YY HH:mm")}}
                  </div>
                  <div slot="total_sum" slot-scope="props">
                    <i class="la la-rub text-dark"></i>{{props.row.total_sum}}
                  </div>
                  <div slot="is_delivered" slot-scope="props">
                    <p class="text-success" v-if="props.row.is_delivered === 1">Доставлен</p>
                    <p class="text-danger text-nowrap" v-else>Не доставлен</p>
                  </div>
                  <div slot="status" slot-scope="props">
                    <p class="text-success" v-if="props.row.status === 'succeeded'">Завершен</p>
                    <p class="text-info text-nowrap" v-else-if="props.row.status === 'requested'">В обработке</p>
                    <p class="text-danger" v-else>Ошибка</p>
                  </div>
                    <div class="text-center" slot="actions" slot-scope="props" style="width: 100px">
                        <div class="dropdown dropdown-inline">
<!--                            <BaseTableDeleteBtn-->
<!--                                @click="deleteOrder(props.row.id)"-->
<!--                            />-->
                            <BaseTableEditBtn
                                @click="detailOrder(props.row)"
                            />
                           
                        </div>
                    </div>
                </v-server-table>
            </div>    
            <modal name="order-form" height="auto" :scrollable="true" :adaptive="true">
                <OrderForm
                    :order="order"
                    @onSuccessDelivery="markAsDelivery(order)"
                />
            </modal>           
        </div>
    </div>
</template>

<script>

import OrderForm from '@/components/orders/Form';
import {vueTableMixin} from '@/views/mixins/vueTableMixin';

export default {

    name: 'Index',
    mixins: [vueTableMixin],
    components: {OrderForm},

    data () {
        return {
            order: null,
            columns: ['id', 'created_at', 'updated_at', 'email', 'total_sum', 'goods', 'payment',  'status', 'is_delivered', 'actions'],
            options: {
                headings: {
                    created_at: 'Дата создания',
                    updated_at: 'Обновлен',
                    goods: 'Товары',
                    email: 'Email',
                    payment : "Платежная\n\r система",
                    status: 'Статус',
                    is_delivered: 'Доставлен',
                    actions: 'Действия',
                    total_sum: 'Сумма'
                },
                filterable: false
            }
        }
    },

    methods: {

        detailOrder(order) {
          this.order = order;
          this.$modal.show('order-form')
        },

        deleteOrder(id) {
            this.$confirm('Вы действительно хотите удалить этот заказ?')
                .then(() => {
                    this.$axios.delete(`/admin/orders/${id}`).then(() => {
                        this.$refs['orders-table'].refresh()
                        this.$notify({
                          title: 'Success',
                          message: 'Заказ успешно удален',
                          type: 'success'
                        });
                    });

                })
                .catch(() => {
                    this.$notify.error({
                        title: 'Error',
                        message: 'Ошибка удаления заказа'
                    });
                });
        },

        markAsDelivery(order) {
          this.$refs['orders-table'].data.forEach(el => {
            if (el.id === order.id) {
              el.is_delivered = true;
            }
          })
        }
    }


}
</script>