<template>
    <div class="card card-custom">
        <div class="card-header">
            <h3 class="card-title">Контакты</h3>
            <div class="card-toolbar">
                <div class="example-tools justify-content-center">

                </div>
            </div>
        </div>        
        <form>
            <div class="card-body">       

                <BaseInput
                    type="text"
                    :label="'Email'"
                    :error="errors.get('config.email')"
                    v-model="form.config.email"
                />

                <BaseInput
                    type="text"
                    :label="'Telegram'"
                    :error="errors.get('config.telegram')"
                    v-model="form.config.telegram"
                />

                <BaseInput
                    type="text"
                    :label="'SEO h1 *'"
                    :error="errors.get('seo_h1')"
                    v-model="form.seo_h1"
                />

                <BaseInput
                    type="text"
                    :label="'SEO title *'"
                    :error="errors.get('seo_title')"
                    v-model="form.seo_title"
                />

                <BaseTextarea
                    rows="3"
                    :label="'SEO description *'"
                    :error="errors.get('seo_description')"
                    v-model="form.seo_description"
                /> 
            
               
            </div>
            <div class="card-footer">
                <BaseButton 
                    :disabled="isProcess"
                    :loading="isProcess"
                    @click.prevent="save()"
                    >Сохранить</BaseButton>
                <BaseButton btnClass="btn-secondary" >Отменить</BaseButton>
            </div>
        </form>       
    </div>
</template>

<script type="text/javascript">
    
    import {Errors} from '@/classes/Errors';
    import { mapGetters } from 'vuex';
    import { mapState } from 'vuex';

    export default {
        computed: {
            ...mapState('pageSettings', ['settings']),
            ...mapGetters('pageSettings', ['getSettingsByPage'])
        },
        watch: {
            settings () {
                this.form = Object.assign({}, this.initForm(), this.getSettingsByPage('contacts'))
                if (!this.form.config) {
                    this.form.config = {
                            email: null,
                            telegram: null
                        }
                }
            }
        },
        data() {
            return {
                isProcess: false,
                errors: new Errors(),
                form: this.initForm()
            }
        },

        methods: {

            initForm() {
                return {
                    seo_h1: null,
                    seo_title: null,
                    seo_description: null,
                    title_setting: 'contacts',
                    config: {
                        email: null,
                        telegram: null
                    }
                }
            },

            save(){
                this.$store.dispatch('pageSettings/setSettings', {
                    page: 'contacts', 
                    settings: this.form
                }).then(() => {
                    this.$notify.success({                    
                        message: 'Настройки успешно сохранены'
                    });
                }).catch(errors => {
                    this.$notify.error({                    
                        message: 'Ошибка сохранения настроек'
                    });
                    this.errors.set(errors.response.data.errors)
                })
            }
        },

        mounted() {
            console.log('asdfasd')
            this.form = Object.assign({}, this.initForm(), this.getSettingsByPage('contacts'));
            if (!this.form.config) {
                this.form.config = {
                        email: null,
                        telegram: null
                    }
            }
                
        },

        created() {
            this.$store.dispatch('pageSettings/getSettings', 'contacts')
        }
    }
</script>