<template>
    <div class="card card-custom">
        <div class="card-header flex-wrap border-0 pt-6 pb-0">
            <div class="card-title">
                <h3 class="card-label">Настройки страниц 
                </h3>
            </div>
            <div class="card-toolbar">
                <ul class="nav">
                    <li class="nav-item" 
                        v-for="(tab, $tabIndex) in tabs"
                            :key="$tabIndex"
                            @click="selectTab(tab.key)"
                        >
                        <a 
                            class="nav-link" 
                            :class="{'active': selected == tab.key}"
                            href="javascript:void(0)">{{tab.title}}</a>
                    </li>                   
                    
                </ul>                
            </div>
        </div>
        <div class="card-body">
            <MainPage v-if="selected == 'main'"/>
            <ContactsPage v-if="selected == 'contacts'"/>
        </div>
    </div>
</template>

<script type="text/javascript">
    
    const MainPage = () => import('./Main');
    const ContactsPage = () => import('./Contacts');

    export default {
        components: {MainPage, ContactsPage},
        data() {
            return {
                selected: 'main',
                tabs: [
                    {
                        title: 'Главная',
                        key: 'main'
                    },
                    {
                        title: 'Контакты',
                        key: 'contacts'
                    }
                ]
            }
        },

        methods: {
            selectTab(tab) {
                this.selected = tab;
            }
        }
    }
</script>