<template>
    <div class="card card-custom">
        <div class="card-header">
            <h3 class="card-title">Главная</h3>
            <div class="card-toolbar">
                <div class="example-tools justify-content-center">

                </div>
            </div>
        </div>        
        <form>
            <div class="card-body">       

                <h3 class="font-size-lg text-dark font-weight-bold mb-6">Сео</h3>

                <BaseInput
                    type="text"
                    :label="'SEO h1 *'"
                    :error="errors.get('seo_h1')"
                    v-model="form.seo_h1"
                />

                <BaseInput
                    type="text"
                    :label="'SEO title *'"
                    :error="errors.get('seo_title')"
                    v-model="form.seo_title"
                />

                <BaseTextarea
                    rows="3"
                    :label="'SEO description *'"
                    :error="errors.get('seo_description')"
                    v-model="form.seo_description"
                /> 
                
                <h3 class="font-size-lg text-dark font-weight-bold mb-6">Слайдер</h3>

                <div 
                    v-for="(slide, $slideIndex) in form.items"
                    :key="$slideIndex"
                >   
                    <SlideData
                        :key="$slideIndex"
                        class="mb-5"
                        v-model="form.items[$slideIndex]"
                        :errors="errors"
                        @onDelete="deleteSlide($slideIndex)"
                    />
                </div>

                <a href="javascript:void(0)" @click="addSlide()">Добавить слайд</a>

                <h3 class="font-size-lg text-dark font-weight-bold mb-6">Бренды</h3>

                <div class="form-group">
                    <el-upload
                        action="''"
                        multiple
                        :auto-upload="false"
                        :file-list="brandLogos"
                        list-type="picture-card"
                        :on-preview="handlePictureCardPreview"
                        :on-remove="handleRemove"
                        ref="brand-upload"
                        >
                        <i class="el-icon-plus"></i>
                    </el-upload>
                    <el-dialog :visible.sync="dialogVisible">
                      <img width="100%" :src="dialogImageUrl" alt="">
                    </el-dialog>
                </div>

                <h3 class="font-size-lg text-dark font-weight-bold mb-6">Платежные логотипы</h3>

                <div class="form-group">
                    <el-upload
                        action="''"
                        multiple
                        :auto-upload="false"
                        :file-list="paymentLogos"
                        list-type="picture-card"
                        :on-preview="handlePictureCardPreview"
                        :on-remove="handleRemove"
                        ref="payment-upload"
                        >
                        <i class="el-icon-plus"></i>
                    </el-upload>
                    <el-dialog :visible.sync="dialogVisible">
                      <img width="100%" :src="dialogImageUrl" alt="">
                    </el-dialog>
                </div>
               
            </div>
            <div class="card-footer">
                <BaseButton 
                    :disabled="isProcess"
                    :loading="isProcess"
                    @click.prevent="save()"
                    >Сохранить</BaseButton>
                <BaseButton btnClass="btn-secondary" >Отменить</BaseButton>
            </div>
        </form>       
    </div>
</template>

<script type="text/javascript">
    
    import {Errors} from '@/classes/Errors';
    import { mapGetters } from 'vuex';
    import { mapState } from 'vuex';
    import SlideData from '@/components/pages/SlideData';

    export default {
        components: {SlideData},
        computed: {
            ...mapState('pageSettings', ['settings']),
            ...mapGetters('pageSettings', ['getSettingsByPage']),
            brandLogos() {

                return this.form.brand_images.map(el => {
                    return {
                        name: `Image_${el.id}`,
                        url: this.$configApi.auth + el.img_original,
                        id: el.id
                    }
                })
            },
            paymentLogos() {

                return this.form.payment_images.map(el => {
                    return {
                        name: `Image_${el.id}`,
                        url: this.$configApi.auth + el.img_original,
                        id: el.id
                    }
                })
            }
        },
        watch: {
            settings () {
                this.form = Object.assign({}, this.initForm(), this.getSettingsByPage('main'))
            }
        },
        data() {
            return {
                isProcess: false,
                errors: new Errors(),
                form: this.initForm(),
                dialogVisible: false,
                dialogImageUrl: null,
            }
        },

        methods: {

            handleRemove(file) {
                if (file.id) {
                    this.form.deleted_files.push(file.id)
                }
            },

            handlePictureCardPreview(file) {            
                this.dialogImageUrl = file.url;
                this.dialogVisible = true;
            },

            initForm() {
                return {
                    seo_h1: null,
                    seo_title: null,
                    seo_description: null,
                    title_setting: 'main',
                    items: [],
                    config: [],
                    brand_images: [],
                    payment_images: [],
                    deleted_files: []
                    
                }
            },

            slideData() {
                return {
                    title: null,
                    description: null,
                    link: null,
                    link_text: null,
                    img: null
                }
            },

            addSlide() {
                this.form.items.push(this.slideData())
            },

            deleteSlide(index) {
                this.form.items.splice(index, 1)
            },

            save(){

                if (this.isProcess) return;    

                this.errors.clearAll(); 

                this.isProcess = true;      

                let formData = new FormData();

                let brand_images = this.$refs['brand-upload'].uploadFiles

                for (let i=0; i < brand_images.length; i++) {

                    if (brand_images[i].raw) {
                        formData.append(`brand_logos[${i}]`, brand_images[i].raw)
                    }
                  
                }

                let payment_images = this.$refs['payment-upload'].uploadFiles

                for (let i=0; i < payment_images.length; i++) {

                    if (payment_images[i].raw) {
                        formData.append(`payment_logos[${i}]`, payment_images[i].raw)
                    }
                  
                }

                for (var key in this.form) {

                    if (Array.isArray(this.form[key])) {

                        let arr = this.form[key];

                        for (let i=0; i < arr.length; i++) {                       
                            formData.append(`${key}[${i}]`, arr[i]) 
                        }

                        continue
                    }
                    formData.append(key, this.form[key])
                                    
                }

                for (let i=0; i < this.form.items.length; i++) {   

                    let obj = this.form.items[i];

                    for (let key in obj) {
                        if (obj[key]) {
                            formData.set(`items[${i}][${key}]`, obj[key]) 
                        }
                    }
                }

                this.$store.dispatch('pageSettings/setSettings', {
                    page: 'main', 
                    settings: formData
                }).then(() => {
                    this.isProcess = false;
                    this.form = Object.assign({}, this.initForm(), this.getSettingsByPage('main'));
                    this.$notify.success({
                        message: 'Настройки успешно сохранены'
                    });
                }).catch(errors => {
                    this.isProcess = false;
                    this.$notify.error({                    
                        message: 'Ошибка сохранения настроек'
                    });
                    this.errors.set(errors.response.data.errors)
                })
            }
        },

        mounted() {
            this.form = Object.assign({}, this.initForm(), this.getSettingsByPage('main'));
        },

        created() {
            this.$store.dispatch('pageSettings/getSettings', 'main')
        }
    }
</script>