<template>
  <div>
    <div class="card card-custom gutter-b">
      <div class="card-header flex-wrap py-3">
        <div class="card-title">
          <h3 class="card-label">
            Проекты
            <span class="d-block text-muted pt-2 font-size-sm">Реализовано на Vue tables 2. Время интеграции в метроник 1 час!</span>
          </h3>
        </div>
        <div class="card-toolbar">

          <a href="#" class="btn btn-primary font-weight-bolder" @click="newProject()">
                    <span class="svg-icon svg-icon-md"><!--begin::Svg Icon | path:/metronic/themes/metronic/theme/html/demo1/dist/assets/media/svg/icons/Design/Flatten.svg-->
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <rect x="0" y="0" width="24" height="24"></rect>
                                    <circle fill="#000000" cx="9" cy="15" r="6"></circle>
                                    <path
                                        d="M8.8012943,7.00241953 C9.83837775,5.20768121 11.7781543,4 14,4 C17.3137085,4 20,6.6862915 20,10 C20,12.2218457 18.7923188,14.1616223 16.9975805,15.1987057 C16.9991904,15.1326658 17,15.0664274 17,15 C17,10.581722 13.418278,7 9,7 C8.93357256,7 8.86733422,7.00080962 8.8012943,7.00241953 Z"
                                        fill="#000000" opacity="0.3"></path>
                                </g>
                            </svg><!--end::Svg Icon-->
                    </span>
            Создать проект
          </a>
          <!--end::Button-->
        </div>
      </div>
      <div class="card">
        <div class="my_card">
          <div v-for="project in this.form.projects" :key="project.id" class="card" style="width: 18rem;">
              <img class="card-img-top rounded-circle" src="../../assets/img/1.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">{{project.slug}}</h5>
                <p class="card-text">{{project.description}}</p>
              </div>
              <router-link :to="'/kanban/' + project.id" class="btn btn-primary">Войти в проект</router-link>
              <div class="card-footer">
                <small class="text-muted">{{project.created_at}}</small>
              </div>
          </div>

        </div>
      </div>
    </div>

    <modal name="create-project" :height="'auto'">

      <div class="card card-custom gutter-b example example-compact">
        <div class="card-header">
          <h3 class="card-title">Редактирование задачи</h3>
          <div class="card-toolbar">
            <div class="example-tools justify-content-center">

            </div>
          </div>
        </div>
        <form class="modal__task" @submit.prevent="createProject()">
          <div class="form-group">
            <label for="title">Название проекта</label>
            <input type="text" v-model="new_project.slug" class="form-control" name="title" id="title">
          </div>

          <div class="form-group">
            <label for="exampleFormControlTextarea1">Описание проекта</label>
            <textarea class="form-control" v-model="new_project.description" id="exampleFormControlTextarea1" rows="12"></textarea>
          </div>

          <button type="submit" class="btn btn-primary">Создать</button>
        </form>
      </div>

    </modal>

  </div>

</template>

<script>

import axios from 'axios';
import {mapActions, mapGetters} from 'vuex';

export default {
  data(){
    return {
      form: {
        projects: this.GET_PROJECTS,
      },
      new_project: {},
      url: '/project',
    }
  },

  computed: {
    ...mapActions([
      'GET_ALL_PROJECTS',
    ]),
    ...mapGetters([
      'GET_PROJECTS'
    ]),
  },

  methods: {
    getProjects() {
      axios.get('/project').then((response) => {
        this.$store.commit('SET_PROJECTS', response.data.data);
        this.form.projects = this.GET_PROJECTS;
      })
    },

    newProject () {
      this.$modal.show('create-project');
    },

    createProject () {
      axios
          .post('/project', this.new_project)
          .then( () => {
            this.getProjects();
            this.$modal.hide('create-project');
          });
    },
  },

  mounted() {
    this.getProjects();
  },
}
</script>

<style scoped>
.my_card {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}

.my_card .card {
  margin: 10px;
}

.my_card img {
  width: 120px;
  height: 108px;
  margin: 0 auto;
  margin-top: 10px;
}

.card-body {
  height: 250px;
}

.modal__task {
  margin: 20px;
}
</style>
