<template>
  <div class="card card-custom">
    <div class="card-header flex-wrap border-0 pt-6 pb-0">
      <div class="card-title">
        <h3 class="card-label">Список проектов
        </h3>
      </div>
      <div class="card-toolbar">
        <!--       -->
      </div>
    </div>
    <div class="card-body">
      <div class="dataTables_wrapper dt-bootstrap4 no-footer">
        <v-server-table
            url="/project"
            :columns="columns"
            :options="options"
            class="faq-table"
            ref="project-table"
        >
          <div class="text-center" slot="actions" slot-scope="props" style="width: 100px">
            <div class="dropdown dropdown-inline">
              <BaseTableEditBtn
                  @click="editProjectModal(props.row)"
              />

              <BaseTableDeleteBtn
                  @click="deleteProject(props.row.id)"
              />
            </div>
          </div>
        </v-server-table>
      </div>

    </div>

    <modal name="edit-project" :height="'auto'">

      <div class="card card-custom gutter-b example example-compact">
        <div class="card-header">
          <h3 class="card-title">Редактирование задачи</h3>
          <div class="card-toolbar">
            <div class="example-tools justify-content-center">

            </div>
          </div>
        </div>
        <form class="modal__task" @submit.prevent="editProject()">
          <div class="form-group">
            <label for="title">Название проекта</label>
            <input type="text" v-model="edit_project.slug" class="form-control" name="title" id="title">
          </div>

          <div class="form-group">
            <label for="exampleFormControlTextarea1">Описание проекта</label>
            <textarea class="form-control" v-model="edit_project.description" id="exampleFormControlTextarea1" rows="12"></textarea>
          </div>

          <button type="submit" class="btn btn-primary">Создать</button>
        </form>
      </div>

    </modal>

  </div>
</template>

<script>

import {vueTableMixin} from '@/views/mixins/vueTableMixin';
import axios from "axios";

export default {

  name: 'Index',
  mixins: [vueTableMixin],

  data () {
    return {
      edit_project: {},
      faq: null,
      columns: [
        'id',
        'slug',
        'description',
        'created_at',
        'actions'
      ],
      options: {
        headings: {
          slug: 'Название проекта',
          description: 'Описание проекта',
          created_at: 'Дата создания',
          actions: 'Действия'
        },
        filterable:false,
      }
    }
  },

  methods: {
    editProjectModal(row) {
      this.edit_project = row;
      this.$modal.show('edit-project');
    },

    editProject() {
      axios
        .put('/project/' + this.edit_project.id, this.edit_project)
        .then( () => {
          this.$refs['project-table'].refresh()
          this.$notify({
            title: 'Success',
            message: 'Проект успешно отредактирован',
            type: 'success'
          })
          this.$modal.hide('edit-project');
        })
        .catch(() => {
          this.$notify.error({
            title: 'Error',
            message: 'Ошибка редактирования проекта'
          });
        });
    },

    deleteProject(id) {
      this.$confirm('Вы действительно хотите удалить этот проект?')
          .then(()=>{
            axios.delete('/project/' + id).then(()=>{
              this.$refs['project-table'].refresh()
              this.$notify({
                title: 'Success',
                message: 'Проект успешно удален',
                type: 'success'
              });
            })
              .catch(() => {
                this.$notify.error({
                  title: 'Error',
                  message: 'Ошибка удаления проекта'
                });
              });
          })
    }
  },

  mounted() {
    //
  }

}
</script>

<style scoped>

.modal__task {
  margin: 20px;
}

</style>