<template>
  <div class="card card-custom">

    <div class="card-header flex-wrap border-0 pt-6 pb-0">
      <div class="card-title">
        <h3 class="card-label">Список задач
        </h3>
      </div>
      <div class="card-toolbar">
        <!--       -->
      </div>
    </div>

    <div class="card-body">

      <h3>Фильтр для поиска</h3>

      <div class="row">
        <div class="col-lg-6 col-md-9 col-sm-12">
          <form class="form" @submit.prevent="setFilter()">

            <div class="form-group">

              <label for="project">Проекты</label>
              <select class="form-control" id="project" v-model="filter.project">
                <option :value="null">Нет проекта</option>
                <option :key="project.id" :value="project.id" v-for="project in projects">{{project.slug}}</option>
              </select>

              <label for="Status">Статус</label>
              <select class="form-control" id="Status" v-model="filter.status">
                <option :value="null">Нет статуса</option>
                <option :value="1">On-hold</option>
                <option :value="2">In-progress</option>
                <option :value="3">Needs-review</option>
                <option :value="4">Approved</option>
              </select>

              <div class="p-0 mt-6">
                <date-picker v-model="filter.date" valueType="format"></date-picker>
              </div>

              <div class=" p-0 mt-3">
                <button type="submit" class="btn btn-primary" id="Date">Найти</button>
                <button class="btn btn-bg-danger ml-5" @click="resetFilter">Сброс</button>
              </div>

            </div>

          </form>
        </div>
      </div>

      <hr>

      <div class="dataTables_wrapper dt-bootstrap4 no-footer">
        <v-server-table
          :url="url"
          :columns="columns"
          :options="options"
          class="faq-table"
          ref="task-table"
        >
          <div class="" slot="actions" slot-scope="props">
            <a href="javascript:;" @click="deleteTask(props.row.id)">
              <span class="svg-icon svg-icon-primary svg-icon-2x"><!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2020-10-29-133027/theme/html/demo1/dist/../src/media/svg/icons/Home/Trash.svg-->
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <rect x="0" y="0" width="24" height="24"/>
                        <path d="M6,8 L18,8 L17.106535,19.6150447 C17.04642,20.3965405 16.3947578,21 15.6109533,21 L8.38904671,21 C7.60524225,21 6.95358004,20.3965405 6.89346498,19.6150447 L6,8 Z M8,10 L8.45438229,14.0894406 L15.5517885,14.0339036 L16,10 L8,10 Z" fill="#000000" fill-rule="nonzero"/>
                        <path d="M14,4.5 L14,3.5 C14,3.22385763 13.7761424,3 13.5,3 L10.5,3 C10.2238576,3 10,3.22385763 10,3.5 L10,4.5 L5.5,4.5 C5.22385763,4.5 5,4.72385763 5,5 L5,5.5 C5,5.77614237 5.22385763,6 5.5,6 L18.5,6 C18.7761424,6 19,5.77614237 19,5.5 L19,5 C19,4.72385763 18.7761424,4.5 18.5,4.5 L14,4.5 Z" fill="#000000" opacity="0.3"/>
                    </g>
                </svg><!--end::Svg Icon-->
              </span>
            </a>
          </div>
        </v-server-table>
      </div>
    </div>

  </div>
</template>

<script>

import {vueTableMixin} from '@/views/mixins/vueTableMixin';
import axios from "axios";

export default {

  name: 'Index',
  mixins: [vueTableMixin],

  data () {
    return {
      edit_project: {},
      projects: {},
      url: '/all/tasks?',
      urlBase: '/all/tasks?',
      query: '',
      filter: {
        project: null,
        status: null,
        date: null,
      },
      columns: [
        'id',
        'title',
        'description',
        'status',
        'created_at',
        'actions'
      ],
      options: {
        headings: {
          title: 'Название задачи',
          description: 'Описание задачи',
          status: 'Статус',
          created_at: 'Дата создания',
          actions: 'Действия'
        },
        filterable: ['title'],
        sortable: ['title', 'id'],
      }
    }
  },

  methods: {
    deleteTask(id) {
      this.$confirm('Вы действительно хотите удалить эту задачу?')
        .then(()=>{
          axios.delete('/tasks/' + id).then(()=>{
            this.$refs['task-table'].refresh()
            this.$notify({
              title: 'Success',
              message: 'Задача успешно удалена',
              type: 'success'
            });
          })
            .catch(() => {
              this.$notify.error({
                title: 'Error',
                message: 'Ошибка удаления проекта'
              });
            });
        })
    },

    getProjects() {
      axios.get('/project').then((res)=>{
        this.projects = res.data.data;
      });
    },

    setFilter() {
      this.query = this.urlBase;

      if (this.filter.project != null) {
        this.query += '&project=' + this.filter.project;
      }

      if (this.filter.status != null) {
        this.query += '&status=' + this.filter.status;
      }

      if (this.filter.date != null) {
        this.query += '&date=' + this.filter.date;
      }

      this.url = this.query;
    },

    resetFilter() {
      this.filter.project =
          this.filter.status =
              this.filter.date = null;
    },
  },

  mounted() {
    this.getProjects();
  }

}
</script>

<style scoped>

</style>