<template>
    <div class="row">
        <div class="form-group col-4">
            <el-upload
                action="''"
                :auto-upload="false"                            
                list-type="picture"                           
                :show-file-list="false"
                ref="upload"
                :on-change="handleOnChangeFile"
                >
                <img v-if="value.img || value.images" :src="imgSrc" class="avatar">               
                <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                <div slot="tip" class="el-upload__tip">Изображение должно быть в формате 1920x840px</div>
            </el-upload>
            
        </div>
        <div class="col-8">
            <BaseInput
                type="text"
                :label="'Заголовок'"
                :error="errors.get('errors.title')"
                :value="value.title"                 
                @input.native="updateValue('title', $event.target.value)"
            />

            <BaseTextarea
                 rows="2"
                :label="'Описание'"
                :error="errors.get('errors.description')"
                :value="value.description"                 
                @input.native="updateValue('description', $event.target.value)"
            />

            <BaseInput
                type="text"
                placeholder="https://example.ru"
                :label="'Ссылка'"
                :hint="'Введите абсолютный url, например: https://example.ru'"
                :error="getError(`items.${$vnode.key}.link`)"
                :value="value.link"                 
                @input.native="updateValue('link', $event.target.value)"
            />

            <BaseInput
                type="text"
                :label="'Текст кнопки'"
                :error="errors.get('errors.link_text')"
                :value="value.link_text"                 
                @input.native="updateValue('link_text', $event.target.value)"
            />

            <a href="javascript:void(0)" class="text-danger " @click="$emit('onDelete')">Удалить слайд</a>
            
        </div>
    </div>
</template>

<script>

export default {

  name: 'SlideData',
  props: ['value', 'errors'],

  computed: {
    imgSrc() {
        return this.value.img && typeof this.value.img.name == 'string'
            ? URL.createObjectURL(this.value.img)
            : this.$configApi.auth + this.value.images[0].img_original
    }
  },

  methods: {

    getError(key) {
      return Object.prototype.hasOwnProperty.call(this.errors.errors, key)
         ? this.errors.errors[key][0] 
         : null
    },

    updateValue(key, value) {
      this.$emit("input", { ...this.value, [key]: value });
    },

    handleOnChangeFile(file) {

        let img = new Image();

        var vm = this;
  
        img.onload = function () {

          if (this.width != 1920 || this.height != 840) {

            alert("Изображение должно быть в формате 1920x840px");
            return false;
          }

          vm.$emit("input", { ...vm.value, ['img']: file.raw });
        };

        img.src = file.url;
    }
  }
}
</script>

<style scoped>
  .avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #409EFF;
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    text-align: center;
  }
  .avatar {
    width: 100%;
    display: block;
  }

  .el-upload--picture-card{
    width: initial;
    height: initial;
  }
</style>