<template>
  <div class="card card-custom">

    <div class="card-header flex-wrap border-0 pt-6 pb-0">
      <div class="card-title">
        <h1 class="card-label">Статистика расходов
        </h1>
      </div>
      <div class="card-toolbar">

        <a href="javascript:void(0)" class="btn btn-primary font-weight-bolder" @click="addCost()">
          <span class="svg-icon svg-icon-md"><!--begin::Svg Icon | path:/metronic/themes/metronic/theme/html/demo1/dist/assets/media/svg/icons/Design/Flatten.svg-->
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <rect x="0" y="0" width="24" height="24"></rect>
                <circle fill="#000000" cx="9" cy="15" r="6"></circle>
                <path
                    d="M8.8012943,7.00241953 C9.83837775,5.20768121 11.7781543,4 14,4 C17.3137085,4 20,6.6862915 20,10 C20,12.2218457 18.7923188,14.1616223 16.9975805,15.1987057 C16.9991904,15.1326658 17,15.0664274 17,15 C17,10.581722 13.418278,7 9,7 C8.93357256,7 8.86733422,7.00080962 8.8012943,7.00241953 Z"
                    fill="#000000" opacity="0.3"></path>
              </g>
            </svg><!--end::Svg Icon-->
          </span>
          Создать расход
        </a>
        <!--end::Button-->
      </div>
    </div>

    <div class="card-body">

      <div class="row">
        <div class="col-lg-6 col-md-9 col-sm-12">

          <h3>Фильтры поиска</h3>

          <form class="form" @submit.prevent="setFilter()">

            <div class="form-group">

              <label for="project">Категории расходов</label>
              <select class="form-control" id="project" v-model="filter.category">
                <option :value="null">Нет проекта</option>
                <option :key="category.id" :value="category.id" v-for="category in categories">{{category.slug}}</option>
              </select>

              <div class="p-0 mt-6">
                <date-picker v-model="filter.date_from" valueType="format"></date-picker> Начальная дата
              </div>

              <div class="p-0 mt-6">
                <date-picker v-model="filter.date_to" valueType="format"></date-picker> Конечная дата
              </div>

              <div class=" p-0 mt-3">
                <button type="submit" class="btn btn-primary" id="Date">Найти</button>
                <button class="btn btn-bg-danger ml-5" @click="resetFilter">Сброс</button>
              </div>

            </div>

          </form>
        </div>

        <div class="col-lg-6 col-md-9 col-sm-12">
          <h3>Калькуляция статистики</h3>

          <p>Общая сумма расходов: {{ this.statistics.total }}</p>
          <p>Количество платежей: {{ this.statistics.count }}</p>

        </div>
      </div>

      <div v-if="tableData">
        <v-client-table
            :data="tableData"
            :columns="columns"
            :options="options"
        >
          <div class="" slot="actions" slot-scope="props">
            <a href="javascript:;" @click="deleteTask(props.row.id)">
              <span class="svg-icon svg-icon-primary svg-icon-2x"><!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2020-10-29-133027/theme/html/demo1/dist/../src/media/svg/icons/Home/Trash.svg-->
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <rect x="0" y="0" width="24" height="24"/>
                        <path d="M6,8 L18,8 L17.106535,19.6150447 C17.04642,20.3965405 16.3947578,21 15.6109533,21 L8.38904671,21 C7.60524225,21 6.95358004,20.3965405 6.89346498,19.6150447 L6,8 Z M8,10 L8.45438229,14.0894406 L15.5517885,14.0339036 L16,10 L8,10 Z" fill="#000000" fill-rule="nonzero"/>
                        <path d="M14,4.5 L14,3.5 C14,3.22385763 13.7761424,3 13.5,3 L10.5,3 C10.2238576,3 10,3.22385763 10,3.5 L10,4.5 L5.5,4.5 C5.22385763,4.5 5,4.72385763 5,5 L5,5.5 C5,5.77614237 5.22385763,6 5.5,6 L18.5,6 C18.7761424,6 19,5.77614237 19,5.5 L19,5 C19,4.72385763 18.7761424,4.5 18.5,4.5 L14,4.5 Z" fill="#000000" opacity="0.3"/>
                    </g>
                </svg><!--end::Svg Icon-->
              </span>
            </a>
          </div>
        </v-client-table>
      </div>

      <hr>

<!--      <div class="dataTables_wrapper dt-bootstrap4 no-footer">-->
<!--        <v-server-table-->
<!--            :url="url"-->
<!--            :columns="columns"-->
<!--            :options="options"-->
<!--            class="faq-table"-->
<!--            ref="cost-table"-->
<!--            @loaded="onLoaded"-->
<!--        >-->
<!--          <div class="" slot="actions" slot-scope="props">-->
<!--            <a href="javascript:;" @click="deleteTask(props.row.id)">-->
<!--              <span class="svg-icon svg-icon-primary svg-icon-2x">&lt;!&ndash;begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2020-10-29-133027/theme/html/demo1/dist/../src/media/svg/icons/Home/Trash.svg&ndash;&gt;-->
<!--                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">-->
<!--                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">-->
<!--                        <rect x="0" y="0" width="24" height="24"/>-->
<!--                        <path d="M6,8 L18,8 L17.106535,19.6150447 C17.04642,20.3965405 16.3947578,21 15.6109533,21 L8.38904671,21 C7.60524225,21 6.95358004,20.3965405 6.89346498,19.6150447 L6,8 Z M8,10 L8.45438229,14.0894406 L15.5517885,14.0339036 L16,10 L8,10 Z" fill="#000000" fill-rule="nonzero"/>-->
<!--                        <path d="M14,4.5 L14,3.5 C14,3.22385763 13.7761424,3 13.5,3 L10.5,3 C10.2238576,3 10,3.22385763 10,3.5 L10,4.5 L5.5,4.5 C5.22385763,4.5 5,4.72385763 5,5 L5,5.5 C5,5.77614237 5.22385763,6 5.5,6 L18.5,6 C18.7761424,6 19,5.77614237 19,5.5 L19,5 C19,4.72385763 18.7761424,4.5 18.5,4.5 L14,4.5 Z" fill="#000000" opacity="0.3"/>-->
<!--                    </g>-->
<!--                </svg>&lt;!&ndash;end::Svg Icon&ndash;&gt;-->
<!--              </span>-->
<!--            </a>-->
<!--          </div>-->
<!--        </v-server-table>-->
<!--      </div>-->

    </div>

    <modal name="add-cost" :height="'auto'">

      <div class="card card-custom gutter-b example example-compact">
        <div class="card-header">
          <h3 class="card-title">Создание нового расхода</h3>
          <div class="card-toolbar">
            <div class="example-tools justify-content-center">

            </div>
          </div>
        </div>
        <form class="modal__task" @submit.prevent="createCost()">

          <label for="categories">Категория расхода</label>
          <select class="form-control" id="categories" v-model="new_cost.category_id">
            <option :value="null">Категория не выбрана</option>
            <option :key="category.id" :value="category.id" v-for="category in categories">{{category.slug}}</option>
          </select>

          <br>
          Дата расхода
          <div class="p-0 mt-6">
            <date-picker v-model="new_cost.date" valueType="format"></date-picker>
          </div>

          <div class="form-group">
            <label for="title">Расход в рублях</label>
            <input type="text" v-model="new_cost.price" class="form-control" name="title" id="title">
          </div>

          <div class="form-group">
            <label for="exampleFormControlTextarea1">Описание расхода</label>
            <textarea class="form-control" v-model="new_cost.description" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>

          <button type="submit" class="btn btn-primary">Сохранить</button>
        </form>
      </div>

    </modal>

  </div>
</template>

<script>

import {vueTableMixin} from '@/views/mixins/vueTableMixin';
import axios from "axios";

export default {

  name: 'Index',
  mixins: [vueTableMixin],

  data () {
    return {
      tableData: [],
      statistics: {
        count: 0,
        total: 0,
      },
      edit_project: {},
      categories: {},
      new_cost: {},
      // url: '/cost/cost?',
      url: '/cost/cost?limit=100',
      urlBase: '/cost/cost?limit=100',
      query: '',
      filter: {
        category: null,
        date_from: null,
        date_to: null,
      },
      columns: [
        'id',
        'category',
        'price',
        'description',
        'date',
        'actions'
      ],
      options: {
        headings: {
          category: 'Категория расхода',
          price: 'Стоимость',
          description: 'Описание расхода',
          date: 'Дата создания',
          actions: 'Действия'
        },
        filterable: false,
      }
    }
  },

  methods: {
    deleteTask(id) {
      this.$confirm('Вы действительно хотите удалить этот расход')
          .then(()=>{
            axios.delete('/cost/cost/' + id).then(()=>{
              this.$refs['cost-table'].refresh()
              this.$notify({
                title: 'Success',
                message: 'Расход успешно удален',
                type: 'success'
              });
            })
                .catch(() => {
                  this.$notify.error({
                    title: 'Error',
                    message: 'Ошибка удаления расхода'
                  });
                });
          })
    },

    addCost() {
      this.$modal.show('add-cost');
    },

    createCost(){
      axios
        .post('/cost/cost', this.new_cost)
        .then( () => {
          this.$refs['cost-table'].refresh();
          this.$notify({
            title: 'Success',
            message: 'Задача успешно создана',
            type: 'success'
          });
          this.new_cost = {};
          this.$modal.hide('add-cost');
        })
        .catch(() => {
          this.$notify.error({
            title: 'Error',
            message: 'Ошибка создания задачи'
          });
        });
    },

    getProject() {
      axios.get('/cost/category?limit=20').then((res)=>{
        this.categories = res.data.data;
      });
    },

    onLoaded(data){
      this.statistics.total = data.data.sum;
      this.statistics.count = data.data.count;
    },

    setFilter() {
      this.query = this.urlBase;

      if (this.filter.category != null) {
        this.query += '&category=' + this.filter.category;
      }

      if (this.filter.date_from != null) {
        this.query += '&date_from=' + this.filter.date_from;
      }

      if (this.filter.date_to != null) {
        this.query += '&date_to=' + this.filter.date_to;
      }

      this.url = this.query;
      this.getClientData();
    },

    resetFilter() {
      this.filter.category =
          this.filter.date_from =
              this.filter.date_to = null;
    },

    getClientData() {
      axios
        .get(this.url)
        .then((res)=>{
          this.tableData = res.data.data;
          this.statistics.total = res.data.sum;
          this.statistics.count = res.data.count;
        });
    }
  },

  mounted() {
    this.getProject();
    this.getClientData();
  }

}
</script>

<style scoped>

.modal__task {
  margin: 20px;
}

</style>