<template>
    <div class="card card-custom">
        <div class="card-header">
            <h3 class="card-title">Настройка курса</h3>
            <div class="card-toolbar">
                <div class="example-tools justify-content-center">

                </div>
            </div>
        </div>
        <form>
            <div class="card-body">

                <BaseInput
                    type="text"
                    :disabled="true"
                    :label="'Валюта'"
                    :error="errors.get('currency_title')"
                    v-model="form.currency_title"
                />
                <BaseInput
                        type="number"
                        v-model="price"
                        :label="'Цена'"
                />
            </div>
            <div class="card-footer">
                <BaseButton
                    :disabled="isProcess"
                    :loading="isProcess"
                    @click.prevent="save()"
                    >Сохранить</BaseButton>
                <BaseButton btnClass="btn-secondary" @click.prevent="$modal.hide('currency-form')">Отменить</BaseButton>
            </div>
        </form>
    </div>
</template>

<script>

import {Errors} from '@/classes/Errors';
import BaseInput from "../base/BaseInput";
export default {
	components: {BaseInput},
    props: ['settings'],
    name: 'Form',
    computed: {
        price: {
            set: function(val){
               let [integer, decimal] = String(val).split('.');
                this.form.integer_part = Number(integer || 0);
                this.form.decimal_part = Number(decimal.substr(0,2) || 0);
            },
            get: function(){
                return Number(`${this.form.integer_part}.${this.form.decimal_part}`)
            }
        }
    },

    data () {
        return {
            errors: new Errors(),
            isProcess: false,
            form: this.initForm()
        }
    },
    methods: {

        initForm() {
            return {
                currency_title: null,
                price_integer: 0,
                price_decimal: 0
            }
        },

        save(){
            if (this.isProcess) return;

            let method = this.settings ? 'put' : 'post'
            let url = this.settings ? '/admin/currency/' + this.settings.id : '/admin/currency'

            this.isProcess = true;

            this.$axios[method](url, this.form).then(() => {
                this.$modal.hide('currency-form');
                this.$emit('onSave');
                this.isProcess = false;
            }).catch(errors => {
                this.isProcess = false;
                this.$notify.error({
                    message: 'Ошибка сохранения товара'
                });

                if (errors.response.status == 422) {
                    this.errors.set(errors.response.data.errors);
                }
            })
        }
    },

    created() {

        if (this.settings) {
            this.form = Object.assign({}, this.initForm(), this.settings);
        }

    }
}
</script>
