<template>
    <div class="card card-custom">
        <div class="card-header flex-wrap border-0 pt-6 pb-0">
            <div class="card-title">
                <h3 class="card-label">Настройка валют
                </h3>
            </div>
            <!-- <div class="card-toolbar">
                <BaseCreateBtn
                    @click="addSettings()"
                >Создать</BaseCreateBtn>
            </div> -->
        </div>
        <div class="card-body">
            <div class="dataTables_wrapper dt-bootstrap4 no-footer">
                <v-server-table
                    url="/admin/currency"
                    :columns="columns"
                    :options="options"
                    class="keys"
                    ref="currency-table"
                    >
                    <div class="text-center" slot="value" slot-scope="props" style="width: 100px">
                        {{Number.parseFloat(`${props.row.integer_part}.${props.row.decimal_part}`).toFixed(2)}}
                    </div>
                    <div class="text-center" slot="actions" slot-scope="props" style="width: 100px">
                        <div class="dropdown dropdown-inline">
                            <BaseTableEditBtn
                                @click="editSetting(props.row)"
                            />
                        </div>
                    </div>
                  <div class="text-center" slot="date" slot-scope="props" style="width: 100px">
                    {{props.row.date.split('-').reverse().join('.')}}
                  </div>
                  <div class="text-center" slot="updated_at" slot-scope="props" style="width: 100px">
                    {{props.row.updated_at | moment("DD.MM.YY HH:mm")}}
                  </div>
                </v-server-table>
            </div>
            <modal name="currency-form" height="auto" :scrollable="true" :adaptive="true">
                <CurrencyForm
                    :settings="setting"
                    @onSave="$refs['currency-table'].refresh()"
                />
            </modal>
        </div>
    </div>
</template>

<script>

import CurrencyForm from '@/components/currencies/Form';

export default {

    name: 'Index',

    components: {CurrencyForm},

    data () {
        return {
            setting: null,
            columns: [
                'currency_title',
                'value',
                'date',
                'status',
                'updated_at',
                'actions'
            ],
            options: {
                headings: {
                    currency_title: 'Валюта',
                    value: 'Курс к рублю',
                    date: 'Дата',
                    status: 'Статус',
                    updated_at: 'Дата обновления',
                    actions: 'Действия'
                },
                filterable:false
            }
        }
    },

    methods: {
        // addSettings() {
        //     this.setting = null;
        //     this.$modal.show('currency-form')
        // },

        editSetting(setting) {
            this.setting = setting;
            this.$modal.show('currency-form')
        }

    }
}
</script>
