<template>

    <div class="login login-signin-on login-4 d-flex flex-row-fluid" id="kt_login">
        <div class="d-flex flex-center bgi-size-cover bgi-no-repeat flex-row-fluid" style="background-image: url(assets/media/bg/bg-2.jpg);">
            <div class="login-form text-center text-white p-7 position-relative overflow-hidden">
                <!--begin::Login Header-->
                <div class="d-flex flex-center mb-15">
                    <a href="#">
                        <img src="/assets/media/logos/logo-letter-13.png" class="max-h-75px" alt="" />
                    </a>
                </div>
                <!--end::Login Header-->

                <login-form v-if="activeForm === 'login'"></login-form>

                <register-form v-if="activeForm === 'register'"></register-form>

                <forgot-form v-if="activeForm === 'forgot'"></forgot-form>
            </div>
        </div>
    </div>

</template>


<script>

    const LoginForm = () => import('../components/auth/LoginForm');
    const RegisterForm = () => import('../components/auth/RegisterForm');
    const ForgotForm = () => import('../components/auth/ForgotForm');

    export default {

        components: {
            LoginForm, RegisterForm, ForgotForm
        },

        data() {
            return {
                form: {},
                activeForm: 'login'
            }
        },

        methods: {

        },

        mounted() {
            if(this.$store.getters.USER_ID) {
                this.$router.push({name: 'index'})
            }
        }

    }

</script>