<template>

    <div class="">
        <vue-recaptcha sitekey="6LeptakZAAAAAOgUinrmTJdRvTcFogvcbcWHMdUw" :loadRecaptchaScript="true"></vue-recaptcha>
    </div>

</template>


<script>

    import VueRecaptcha from 'vue-recaptcha';

    export default {
        components: { VueRecaptcha }
    };

</script>