<template>

    <div class="d-flex flex-row" :key="'profile'">

        <div class="subheader py-2 py-lg-4 subheader-solid" id="kt_subheader">
            <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
                <!--begin::Info-->
                <div class="d-flex align-items-center flex-wrap mr-2">
                    <!--begin::Page Title-->
                    <h5 class="text-dark font-weight-bold mt-2 mb-2 mr-5">Настройки аккаунта</h5>
                    <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
                        <li class="breadcrumb-item">
                            <a href="" class="text-muted">Рабочий стол</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="" class="text-muted">Профиль</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="" class="text-muted">Настройки аккаунта</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="d-flex flex-row">

            <profile-aside></profile-aside>

            <profile-overview></profile-overview>

        </div>

    </div>

</template>


<script>

    const ProfileAside = () => import('../../components/profile/ProfileAside');
    const ProfileOverview = () => import('../../components/profile/ProfileOverview');

    export default {

        components: {
            ProfileAside, ProfileOverview
        }

    }

</script>