<template>

    <div id="kt_header" class="header header-fixed">
        <!--begin::Container-->
        <div class="container-fluid d-flex align-items-stretch justify-content-between">
            <!--begin::Header Menu Wrapper-->
            <div class="header-menu-wrapper header-menu-wrapper-left" id="kt_header_menu_wrapper">
                <!--begin::Header Menu-->
                <div id="kt_header_menu" class="header-menu header-menu-mobile header-menu-layout-default">
                    <left-top-menu></left-top-menu>
                </div>
                <!--end::Header Menu-->
            </div>
            <!--end::Header Menu Wrapper-->
            <!--begin::Topbar-->
            <div class="topbar">
                   
                <div class="topbar-item">
                    <div class="btn btn-icon w-auto btn-clean d-flex align-items-center btn-lg px-2"
                         id="kt_quick_user_toggle" @click="showMenu = true">
                        <span class="text-muted font-weight-bold font-size-base d-none d-md-inline mr-1"></span>
                        <span class="text-dark-50 font-weight-bolder font-size-base d-none d-md-inline mr-3">{{$store.getters.USER_NAME}}</span>
                        <span class="symbol symbol-35 symbol-light-success">
											<span class="symbol-label font-size-h5 font-weight-bold">{{getFirstLetter()}}</span>
										</span>
                    </div>
                </div>
            </div>
        </div>

        <user-menu v-if="showMenu" @closeMenu="showMenu = false"></user-menu>

    </div>

</template>


<script>

    const UserMenu = () => import('./profile/UserMenu');
    const LeftTopMenu = () => import('./LeftTopMenu');

    export default {

        components: {
            UserMenu, LeftTopMenu
        },

        data() {
            return {
                showMenu: false,
            }
        },

        methods: {

            getFirstLetter() {
                let str = this.$store.getters.USER_NAME;
                return str[0]

            }

        },

        watch: {
            '$route.path': function () {
                this.showMenu = false;
            }
        }

    }

</script>