<template>

    <ul class="menu-nav">
        <li class="menu-item">
            <router-link :to="{name: 'users'}" class="menu-link menu-toggle">
                <span class="menu-text">Пользователи</span>
            </router-link>
        </li>
    </ul>

</template>


<script>

    export default {

        data() {
            return {
                dd_users: false
            }
        },

        methods: {

            toggleShow(type) {
                if(!type) {
                    this.dd_users = false;
                    return
                }
                this.$data[type] = !this.$data[type]
            },

        },

        created() {
            document.addEventListener('click', () => this.toggleShow());
        }

    }

</script>