<template>

    <div class="aside aside-left aside-fixed d-flex flex-column flex-row-auto" :class="{'aside-on': active}" id="kt_aside">
        <!--begin::Brand-->
        <div class="brand flex-column-auto" id="kt_brand" kt-hidden-height="65" style="">
            <!--begin::Logo-->
            <router-link to="/" class="brand-logo">
                <h2 style="color: #fff">Система учета</h2>
<!--                 <img alt="Logo" src="/assets/images/logo-white.svg" width="160px;">-->
            </router-link>
            <!--end::Logo-->
            <!--begin::Toggle-->
            <button class="brand-toggle btn btn-sm px-0" id="kt_aside_toggle">
                <span class="svg-icon svg-icon svg-icon-xl">
                    <!--begin::Svg Icon | path:assets/media/svg/icons/Navigation/Angle-double-left.svg-->
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                         width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <polygon points="0 0 24 0 24 24 0 24"></polygon>
                            <path d="M5.29288961,6.70710318 C4.90236532,6.31657888 4.90236532,5.68341391 5.29288961,5.29288961 C5.68341391,4.90236532 6.31657888,4.90236532 6.70710318,5.29288961 L12.7071032,11.2928896 C13.0856821,11.6714686 13.0989277,12.281055 12.7371505,12.675721 L7.23715054,18.675721 C6.86395813,19.08284 6.23139076,19.1103429 5.82427177,18.7371505 C5.41715278,18.3639581 5.38964985,17.7313908 5.76284226,17.3242718 L10.6158586,12.0300721 L5.29288961,6.70710318 Z"
                                  fill="#000000" fill-rule="nonzero"
                                  transform="translate(8.999997, 11.999999) scale(-1, 1) translate(-8.999997, -11.999999)"></path>
                            <path d="M10.7071009,15.7071068 C10.3165766,16.0976311 9.68341162,16.0976311 9.29288733,15.7071068 C8.90236304,15.3165825 8.90236304,14.6834175 9.29288733,14.2928932 L15.2928873,8.29289322 C15.6714663,7.91431428 16.2810527,7.90106866 16.6757187,8.26284586 L22.6757187,13.7628459 C23.0828377,14.1360383 23.1103407,14.7686056 22.7371482,15.1757246 C22.3639558,15.5828436 21.7313885,15.6103465 21.3242695,15.2371541 L16.0300699,10.3841378 L10.7071009,15.7071068 Z"
                                  fill="#000000" fill-rule="nonzero" opacity="0.3"
                                  transform="translate(15.999997, 11.999999) scale(-1, 1) rotate(-270.000000) translate(-15.999997, -11.999999)"></path>
                        </g>
                    </svg>
                    <!--end::Svg Icon-->
                </span>
            </button>
            <!--end::Toolbar-->
        </div>
        <!--end::Brand-->
        <!--begin::Aside Menu-->
        <div class="aside-menu-wrapper flex-column-fluid" id="kt_aside_menu_wrapper">
            <!--begin::Menu Container-->
            <div id="kt_aside_menu" class="aside-menu my-4 scroll ps ps--active-y" data-menu-vertical="1"
                 data-menu-scroll="1" data-menu-dropdown-timeout="500" style="height: 919px; overflow: hidden;">
                <!--begin::Menu Nav-->
                <ul class="menu-nav">
                    <router-link :to="{name: 'index'}" tag="li" class="menu-item " aria-haspopup="true">
                        <a href="javascript:;" class="menu-link">
                            <span class="svg-icon menu-icon">

                                <svg xmlns="http://www.w3.org/2000/svg"
                                     xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px"
                                     viewBox="0 0 24 24" version="1.1">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <polygon points="0 0 24 0 24 24 0 24"></polygon>
                                        <path d="M12.9336061,16.072447 L19.36,10.9564761 L19.5181585,10.8312381 C20.1676248,10.3169571 20.2772143,9.3735535 19.7629333,8.72408713 C19.6917232,8.63415859 19.6104327,8.55269514 19.5206557,8.48129411 L12.9336854,3.24257445 C12.3871201,2.80788259 11.6128799,2.80788259 11.0663146,3.24257445 L4.47482784,8.48488609 C3.82645598,9.00054628 3.71887192,9.94418071 4.23453211,10.5925526 C4.30500305,10.6811601 4.38527899,10.7615046 4.47382636,10.8320511 L4.63,10.9564761 L11.0659024,16.0730648 C11.6126744,16.5077525 12.3871218,16.5074963 12.9336061,16.072447 Z"
                                              fill="#000000" fill-rule="nonzero"></path>
                                        <path d="M11.0563554,18.6706981 L5.33593024,14.122919 C4.94553994,13.8125559 4.37746707,13.8774308 4.06710397,14.2678211 C4.06471678,14.2708238 4.06234874,14.2738418 4.06,14.2768747 L4.06,14.2768747 C3.75257288,14.6738539 3.82516916,15.244888 4.22214834,15.5523151 C4.22358765,15.5534297 4.2250303,15.55454 4.22647627,15.555646 L11.0872776,20.8031356 C11.6250734,21.2144692 12.371757,21.2145375 12.909628,20.8033023 L19.7677785,15.559828 C20.1693192,15.2528257 20.2459576,14.6784381 19.9389553,14.2768974 C19.9376429,14.2751809 19.9363245,14.2734691 19.935,14.2717619 L19.935,14.2717619 C19.6266937,13.8743807 19.0546209,13.8021712 18.6572397,14.1104775 C18.654352,14.112718 18.6514778,14.1149757 18.6486172,14.1172508 L12.9235044,18.6705218 C12.377022,19.1051477 11.6029199,19.1052208 11.0563554,18.6706981 Z"
                                              fill="#000000" opacity="0.3"></path>
                                    </g>
                                </svg>

                            </span>
                            <span class="menu-text">Dashboard</span>
                        </a>
                    </router-link>

                  <router-link :to="{name: 'projects'}" tag="li" class="menu-item " aria-haspopup="true">
                    <a href="javascript:;" class="menu-link">
                            <span class="svg-icon menu-icon">

                                <svg xmlns="http://www.w3.org/2000/svg"
                                     xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px"
                                     viewBox="0 0 24 24" version="1.1">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <polygon points="0 0 24 0 24 24 0 24"></polygon>
                                        <path d="M12.9336061,16.072447 L19.36,10.9564761 L19.5181585,10.8312381 C20.1676248,10.3169571 20.2772143,9.3735535 19.7629333,8.72408713 C19.6917232,8.63415859 19.6104327,8.55269514 19.5206557,8.48129411 L12.9336854,3.24257445 C12.3871201,2.80788259 11.6128799,2.80788259 11.0663146,3.24257445 L4.47482784,8.48488609 C3.82645598,9.00054628 3.71887192,9.94418071 4.23453211,10.5925526 C4.30500305,10.6811601 4.38527899,10.7615046 4.47382636,10.8320511 L4.63,10.9564761 L11.0659024,16.0730648 C11.6126744,16.5077525 12.3871218,16.5074963 12.9336061,16.072447 Z"
                                              fill="#000000" fill-rule="nonzero"></path>
                                        <path d="M11.0563554,18.6706981 L5.33593024,14.122919 C4.94553994,13.8125559 4.37746707,13.8774308 4.06710397,14.2678211 C4.06471678,14.2708238 4.06234874,14.2738418 4.06,14.2768747 L4.06,14.2768747 C3.75257288,14.6738539 3.82516916,15.244888 4.22214834,15.5523151 C4.22358765,15.5534297 4.2250303,15.55454 4.22647627,15.555646 L11.0872776,20.8031356 C11.6250734,21.2144692 12.371757,21.2145375 12.909628,20.8033023 L19.7677785,15.559828 C20.1693192,15.2528257 20.2459576,14.6784381 19.9389553,14.2768974 C19.9376429,14.2751809 19.9363245,14.2734691 19.935,14.2717619 L19.935,14.2717619 C19.6266937,13.8743807 19.0546209,13.8021712 18.6572397,14.1104775 C18.654352,14.112718 18.6514778,14.1149757 18.6486172,14.1172508 L12.9235044,18.6705218 C12.377022,19.1051477 11.6029199,19.1052208 11.0563554,18.6706981 Z"
                                              fill="#000000" opacity="0.3"></path>
                                    </g>
                                </svg>

                            </span>
                      <span class="menu-text">Проекты</span>
                    </a>
                  </router-link>

                  <router-link :to="{name: 'projects-table'}" tag="li" class="menu-item " aria-haspopup="true">
                    <a href="javascript:;" class="menu-link">
                            <span class="svg-icon menu-icon">

                                <svg xmlns="http://www.w3.org/2000/svg"
                                     xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px"
                                     viewBox="0 0 24 24" version="1.1">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <polygon points="0 0 24 0 24 24 0 24"></polygon>
                                        <path d="M12.9336061,16.072447 L19.36,10.9564761 L19.5181585,10.8312381 C20.1676248,10.3169571 20.2772143,9.3735535 19.7629333,8.72408713 C19.6917232,8.63415859 19.6104327,8.55269514 19.5206557,8.48129411 L12.9336854,3.24257445 C12.3871201,2.80788259 11.6128799,2.80788259 11.0663146,3.24257445 L4.47482784,8.48488609 C3.82645598,9.00054628 3.71887192,9.94418071 4.23453211,10.5925526 C4.30500305,10.6811601 4.38527899,10.7615046 4.47382636,10.8320511 L4.63,10.9564761 L11.0659024,16.0730648 C11.6126744,16.5077525 12.3871218,16.5074963 12.9336061,16.072447 Z"
                                              fill="#000000" fill-rule="nonzero"></path>
                                        <path d="M11.0563554,18.6706981 L5.33593024,14.122919 C4.94553994,13.8125559 4.37746707,13.8774308 4.06710397,14.2678211 C4.06471678,14.2708238 4.06234874,14.2738418 4.06,14.2768747 L4.06,14.2768747 C3.75257288,14.6738539 3.82516916,15.244888 4.22214834,15.5523151 C4.22358765,15.5534297 4.2250303,15.55454 4.22647627,15.555646 L11.0872776,20.8031356 C11.6250734,21.2144692 12.371757,21.2145375 12.909628,20.8033023 L19.7677785,15.559828 C20.1693192,15.2528257 20.2459576,14.6784381 19.9389553,14.2768974 C19.9376429,14.2751809 19.9363245,14.2734691 19.935,14.2717619 L19.935,14.2717619 C19.6266937,13.8743807 19.0546209,13.8021712 18.6572397,14.1104775 C18.654352,14.112718 18.6514778,14.1149757 18.6486172,14.1172508 L12.9235044,18.6705218 C12.377022,19.1051477 11.6029199,19.1052208 11.0563554,18.6706981 Z"
                                              fill="#000000" opacity="0.3"></path>
                                    </g>
                                </svg>

                            </span>
                      <span class="menu-text">Таблица проектов</span>
                    </a>
                  </router-link>

                  <router-link :to="{name: 'tasks'}" tag="li" class="menu-item " aria-haspopup="true">
                    <a href="javascript:;" class="menu-link">
                            <span class="svg-icon menu-icon">

                                <svg xmlns="http://www.w3.org/2000/svg"
                                     xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px"
                                     viewBox="0 0 24 24" version="1.1">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <polygon points="0 0 24 0 24 24 0 24"></polygon>
                                        <path d="M12.9336061,16.072447 L19.36,10.9564761 L19.5181585,10.8312381 C20.1676248,10.3169571 20.2772143,9.3735535 19.7629333,8.72408713 C19.6917232,8.63415859 19.6104327,8.55269514 19.5206557,8.48129411 L12.9336854,3.24257445 C12.3871201,2.80788259 11.6128799,2.80788259 11.0663146,3.24257445 L4.47482784,8.48488609 C3.82645598,9.00054628 3.71887192,9.94418071 4.23453211,10.5925526 C4.30500305,10.6811601 4.38527899,10.7615046 4.47382636,10.8320511 L4.63,10.9564761 L11.0659024,16.0730648 C11.6126744,16.5077525 12.3871218,16.5074963 12.9336061,16.072447 Z"
                                              fill="#000000" fill-rule="nonzero"></path>
                                        <path d="M11.0563554,18.6706981 L5.33593024,14.122919 C4.94553994,13.8125559 4.37746707,13.8774308 4.06710397,14.2678211 C4.06471678,14.2708238 4.06234874,14.2738418 4.06,14.2768747 L4.06,14.2768747 C3.75257288,14.6738539 3.82516916,15.244888 4.22214834,15.5523151 C4.22358765,15.5534297 4.2250303,15.55454 4.22647627,15.555646 L11.0872776,20.8031356 C11.6250734,21.2144692 12.371757,21.2145375 12.909628,20.8033023 L19.7677785,15.559828 C20.1693192,15.2528257 20.2459576,14.6784381 19.9389553,14.2768974 C19.9376429,14.2751809 19.9363245,14.2734691 19.935,14.2717619 L19.935,14.2717619 C19.6266937,13.8743807 19.0546209,13.8021712 18.6572397,14.1104775 C18.654352,14.112718 18.6514778,14.1149757 18.6486172,14.1172508 L12.9235044,18.6705218 C12.377022,19.1051477 11.6029199,19.1052208 11.0563554,18.6706981 Z"
                                              fill="#000000" opacity="0.3"></path>
                                    </g>
                                </svg>

                            </span>
                      <span class="menu-text">Таблица задач</span>
                    </a>
                  </router-link>

                  <router-link :to="{name: 'cost-categories'}" tag="li" class="menu-item " aria-haspopup="true">
                    <a href="javascript:;" class="menu-link">
                            <span class="svg-icon menu-icon">

                                <svg xmlns="http://www.w3.org/2000/svg"
                                     xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px"
                                     viewBox="0 0 24 24" version="1.1">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <polygon points="0 0 24 0 24 24 0 24"></polygon>
                                        <path d="M12.9336061,16.072447 L19.36,10.9564761 L19.5181585,10.8312381 C20.1676248,10.3169571 20.2772143,9.3735535 19.7629333,8.72408713 C19.6917232,8.63415859 19.6104327,8.55269514 19.5206557,8.48129411 L12.9336854,3.24257445 C12.3871201,2.80788259 11.6128799,2.80788259 11.0663146,3.24257445 L4.47482784,8.48488609 C3.82645598,9.00054628 3.71887192,9.94418071 4.23453211,10.5925526 C4.30500305,10.6811601 4.38527899,10.7615046 4.47382636,10.8320511 L4.63,10.9564761 L11.0659024,16.0730648 C11.6126744,16.5077525 12.3871218,16.5074963 12.9336061,16.072447 Z"
                                              fill="#000000" fill-rule="nonzero"></path>
                                        <path d="M11.0563554,18.6706981 L5.33593024,14.122919 C4.94553994,13.8125559 4.37746707,13.8774308 4.06710397,14.2678211 C4.06471678,14.2708238 4.06234874,14.2738418 4.06,14.2768747 L4.06,14.2768747 C3.75257288,14.6738539 3.82516916,15.244888 4.22214834,15.5523151 C4.22358765,15.5534297 4.2250303,15.55454 4.22647627,15.555646 L11.0872776,20.8031356 C11.6250734,21.2144692 12.371757,21.2145375 12.909628,20.8033023 L19.7677785,15.559828 C20.1693192,15.2528257 20.2459576,14.6784381 19.9389553,14.2768974 C19.9376429,14.2751809 19.9363245,14.2734691 19.935,14.2717619 L19.935,14.2717619 C19.6266937,13.8743807 19.0546209,13.8021712 18.6572397,14.1104775 C18.654352,14.112718 18.6514778,14.1149757 18.6486172,14.1172508 L12.9235044,18.6705218 C12.377022,19.1051477 11.6029199,19.1052208 11.0563554,18.6706981 Z"
                                              fill="#000000" opacity="0.3"></path>
                                    </g>
                                </svg>

                            </span>
                      <span class="menu-text">Категории расходов</span>
                    </a>
                  </router-link>

                    <li class="menu-section">
                        <h4 class="menu-text">Основное</h4>
                        <i class="menu-icon ki ki-bold-more-hor icon-md"></i>
                    </li>

<!--                    <router-link :to="{name: 'categories'}" tag="li" class="menu-item menu-item-submenu">-->
<!--                        <a href="javascript:;" class="menu-link">-->
<!--                            <span class="svg-icon menu-icon">-->
<!--                                &lt;!&ndash;begin::Svg Icon | path:assets/media/svg/icons/Layout/Layout-4-blocks.svg&ndash;&gt;-->
<!--                                <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" class="kt-svg-icon">-->
<!--                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">-->
<!--                                        <rect x="0" y="0" width="24" height="24"/>-->
<!--                                        <path d="M4,9.67471899 L10.880262,13.6470401 C10.9543486,13.689814 11.0320333,13.7207107 11.1111111,13.740321 L11.1111111,21.4444444 L4.49070127,17.526473 C4.18655139,17.3464765 4,17.0193034 4,16.6658832 L4,9.67471899 Z M20,9.56911707 L20,16.6658832 C20,17.0193034 19.8134486,17.3464765 19.5092987,17.526473 L12.8888889,21.4444444 L12.8888889,13.6728275 C12.9050191,13.6647696 12.9210067,13.6561758 12.9368301,13.6470401 L20,9.56911707 Z" fill="#000000"/>-->
<!--                                        <path d="M4.21611835,7.74669402 C4.30015839,7.64056877 4.40623188,7.55087574 4.5299008,7.48500698 L11.5299008,3.75665466 C11.8237589,3.60013944 12.1762411,3.60013944 12.4700992,3.75665466 L19.4700992,7.48500698 C19.5654307,7.53578262 19.6503066,7.60071528 19.7226939,7.67641889 L12.0479413,12.1074394 C11.9974761,12.1365754 11.9509488,12.1699127 11.9085461,12.2067543 C11.8661433,12.1699127 11.819616,12.1365754 11.7691509,12.1074394 L4.21611835,7.74669402 Z" fill="#000000" opacity="0.3"/>-->
<!--                                    </g>-->
<!--                                </svg>-->
<!--                                &lt;!&ndash;end::Svg Icon&ndash;&gt;-->
<!--                            </span>-->
<!--                            <span class="menu-text">Категории</span>-->
<!--                        </a>-->
<!--                    </router-link>-->

<!--                    <router-link :to="{name: 'goods'}" tag="li" class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover">-->
<!--                        <a href="javascript:;" class="menu-link menu-toggle">-->
<!--                            <span class="svg-icon menu-icon">-->
<!--                                &lt;!&ndash;begin::Svg Icon | path:assets/media/svg/icons/Shopping/Barcode-read.svg&ndash;&gt;-->
<!--                                <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" class="kt-svg-icon"><g-->
<!--                                        fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"></path><path fill="#000"-->
<!--                                                                                                             opacity=".3"-->
<!--                                                                                                             d="M6 7v8h12V7z"></path><path-->
<!--                                        d="M11 19v-3a1 1 0 012 0v3h1.5a.5.5 0 110 1h-5a.5.5 0 110-1H11z" fill="#000"-->
<!--                                        opacity=".3"></path><path-->
<!--                                        d="M6 7v8h12V7H6zm0-2h12a2 2 0 012 2v8a2 2 0 01-2 2H6a2 2 0 01-2-2V7a2 2 0 012-2z"-->
<!--                                        fill="#000" fill-rule="nonzero"></path></g></svg>-->
<!--                                &lt;!&ndash;end::Svg Icon&ndash;&gt;-->
<!--                            </span>-->
<!--                            <span class="menu-text">Товары</span>-->
<!--                        </a>-->
<!--                    </router-link>-->

<!--                    <router-link :to="{name: 'faq'}" tag="li" class="menu-item menu-item-submenu"-->
<!--                                 aria-haspopup="true" data-menu-toggle="hover">-->
<!--                        <a href="javascript:;" class="menu-link menu-toggle">-->
<!--                            <span class="svg-icon menu-icon">-->
<!--                                &lt;!&ndash;begin::Svg Icon | path:assets/media/svg/icons/Layout/Layout-4-blocks.svg&ndash;&gt;-->
<!--                                <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" class="kt-svg-icon">-->
<!--                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">-->
<!--                                        <rect x="0" y="0" width="24" height="24"/>-->
<!--                                        <path d="M8,3 L8,3.5 C8,4.32842712 8.67157288,5 9.5,5 L14.5,5 C15.3284271,5 16,4.32842712 16,3.5 L16,3 L18,3 C19.1045695,3 20,3.8954305 20,5 L20,21 C20,22.1045695 19.1045695,23 18,23 L6,23 C4.8954305,23 4,22.1045695 4,21 L4,5 C4,3.8954305 4.8954305,3 6,3 L8,3 Z"-->
<!--                                              fill="#000000" opacity="0.3"/>-->
<!--                                        <path d="M10.875,15.75 C10.6354167,15.75 10.3958333,15.6541667 10.2041667,15.4625 L8.2875,13.5458333 C7.90416667,13.1625 7.90416667,12.5875 8.2875,12.2041667 C8.67083333,11.8208333 9.29375,11.8208333 9.62916667,12.2041667 L10.875,13.45 L14.0375,10.2875 C14.4208333,9.90416667 14.9958333,9.90416667 15.3791667,10.2875 C15.7625,10.6708333 15.7625,11.2458333 15.3791667,11.6291667 L11.5458333,15.4625 C11.3541667,15.6541667 11.1145833,15.75 10.875,15.75 Z"-->
<!--                                              fill="#000000"/>-->
<!--                                        <path d="M11,2 C11,1.44771525 11.4477153,1 12,1 C12.5522847,1 13,1.44771525 13,2 L14.5,2 C14.7761424,2 15,2.22385763 15,2.5 L15,3.5 C15,3.77614237 14.7761424,4 14.5,4 L9.5,4 C9.22385763,4 9,3.77614237 9,3.5 L9,2.5 C9,2.22385763 9.22385763,2 9.5,2 L11,2 Z"-->
<!--                                              fill="#000000"/>-->
<!--                                    </g>-->
<!--                                </svg>-->
<!--                                &lt;!&ndash;end::Svg Icon&ndash;&gt;-->
<!--                            </span>-->
<!--                            <span class="menu-text">FAQ</span>-->
<!--                        </a>-->
<!--                    </router-link>-->
                    
                    <li class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover">
                        <router-link to="/orders" class="menu-link menu-toggle">
                            <span class="svg-icon menu-icon">
                                <!--begin::Svg Icon | path:assets/media/svg/icons/Design/Bucket.svg-->
                                <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" class="kt-svg-icon"><g
                                        fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"></path><path
                                        d="M3.5 3H5v16.5a1.5 1.5 0 01-3 0v-15A1.5 1.5 0 013.5 3z" fill="#000"></path><path
                                        d="M7 3h12.755a1 1 0 01.743 1.669L17.5 8l2.998 3.331A1 1 0 0119.755 13H7V3z"
                                        fill="#000" opacity=".3"></path></g></svg>
                                <!--end::Svg Icon-->
                            </span>
                            <span class="menu-text">Заказы</span>
                        </router-link>
                    </li>
                    <li class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover">
                        <router-link to="/cost" class="menu-link menu-toggle">
                            <span class="svg-icon menu-icon">
                                <!--begin::Svg Icon | path:assets/media/svg/icons/Files/Upload.svg-->
                                <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" class="kt-svg-icon"><g
                                        fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"></path><path
                                        d="M5.5 2h13A1.5 1.5 0 0120 3.5v3A1.5 1.5 0 0118.5 8h-13A1.5 1.5 0 014 6.5v-3A1.5 1.5 0 015.5 2zM11 4a1 1 0 000 2h2a1 1 0 000-2h-2z"
                                        fill="#000" opacity=".3"></path><path
                                        d="M5.5 9h13a1.5 1.5 0 011.5 1.5v3a1.5 1.5 0 01-1.5 1.5h-13A1.5 1.5 0 014 13.5v-3A1.5 1.5 0 015.5 9zm5.5 2a1 1 0 000 2h2a1 1 0 000-2h-2zm-5.5 5h13a1.5 1.5 0 011.5 1.5v3a1.5 1.5 0 01-1.5 1.5h-13A1.5 1.5 0 014 20.5v-3A1.5 1.5 0 015.5 16zm5.5 2a1 1 0 000 2h2a1 1 0 000-2h-2z"
                                        fill="#000"></path></g></svg>
                                <!--end::Svg Icon-->
                            </span>
                            <span class="menu-text">Статистика</span>
                        </router-link>
                    </li>
                    <li class="menu-section">
                        <h4 class="menu-text">Настройки</h4>
                        <i class="menu-icon ki ki-bold-more-hor icon-md"></i>
                    </li>

<!--                    <router-link :to="{name: 'page-settings'}" tag="li" class="menu-item">-->
<!--                        <a href="javascript:;" class="menu-link">-->
<!--                            <span class="svg-icon menu-icon">-->
<!--                                &lt;!&ndash;begin::Svg Icon | path:assets/media/svg/icons/Files/Upload.svg&ndash;&gt;-->
<!--                                <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" class="kt-svg-icon">-->
<!--                                    <g-->
<!--                                            fill="none" fill-rule="evenodd"><path opacity=".2" d="M0 0h24v24H0z"></path><path-->
<!--                                            d="M4.5 7h5a1.5 1.5 0 010 3h-5a1.5 1.5 0 010-3zm9 8h5a1.5 1.5 0 010 3h-5a1.5 1.5 0 010-3z"-->
<!--                                            fill="#000" opacity=".3"></path><path-->
<!--                                            d="M17 11a3 3 0 110-6 3 3 0 010 6zM6 19a3 3 0 110-6 3 3 0 010 6z"-->
<!--                                            fill="#000"></path></g>-->
<!--                                </svg>-->
<!--                                &lt;!&ndash;end::Svg Icon&ndash;&gt;-->
<!--                            </span>-->
<!--                            <span class="menu-text">Страницы</span>-->
<!--                        </a>-->
<!--                    </router-link>-->
                    
<!--                    <router-link :to="{name: 'access-keys'}" tag="li" class="menu-item">-->
<!--                        <a href="javascript:;" class="menu-link">-->
<!--                            <span class="svg-icon menu-icon">-->
<!--                                &lt;!&ndash;begin::Svg Icon | path:assets/media/svg/icons/Files/Upload.svg&ndash;&gt;-->
<!--                                <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" class="kt-svg-icon">-->
<!--                                    <g-->
<!--                                            fill="none" fill-rule="evenodd"><path opacity=".2" d="M0 0h24v24H0z"></path><path-->
<!--                                            d="M4.5 7h5a1.5 1.5 0 010 3h-5a1.5 1.5 0 010-3zm9 8h5a1.5 1.5 0 010 3h-5a1.5 1.5 0 010-3z"-->
<!--                                            fill="#000" opacity=".3"></path><path-->
<!--                                            d="M17 11a3 3 0 110-6 3 3 0 010 6zM6 19a3 3 0 110-6 3 3 0 010 6z"-->
<!--                                            fill="#000"></path></g>-->
<!--                                </svg>-->
<!--                                &lt;!&ndash;end::Svg Icon&ndash;&gt;-->
<!--                            </span>-->
<!--                            <span class="menu-text">Платежные системы</span>-->
<!--                        </a>-->
<!--                    </router-link>-->

<!--                    <router-link :to="{name: 'currencies'}" tag="li" class="menu-item">-->
<!--                        <a href="javascript:;" class="menu-link">-->
<!--                            <span class="svg-icon menu-icon">-->
<!--                                &lt;!&ndash;begin::Svg Icon | path:assets/media/svg/icons/Files/Upload.svg&ndash;&gt;-->
<!--                                <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" class="kt-svg-icon">-->
<!--                                    <g-->
<!--                                            fill="none" fill-rule="evenodd"><path opacity=".2" d="M0 0h24v24H0z"></path><path-->
<!--                                            d="M4.5 7h5a1.5 1.5 0 010 3h-5a1.5 1.5 0 010-3zm9 8h5a1.5 1.5 0 010 3h-5a1.5 1.5 0 010-3z"-->
<!--                                            fill="#000" opacity=".3"></path><path-->
<!--                                            d="M17 11a3 3 0 110-6 3 3 0 010 6zM6 19a3 3 0 110-6 3 3 0 010 6z"-->
<!--                                            fill="#000"></path></g>-->
<!--                                </svg>-->
<!--                                &lt;!&ndash;end::Svg Icon&ndash;&gt;-->
<!--                            </span>-->
<!--                            <span class="menu-text">Валюты</span>-->
<!--                        </a>-->
<!--                    </router-link>-->
                </ul>
                <!--end::Menu Nav-->
            </div>
            <!--end::Menu Container-->
        </div>
        <!--end::Aside Menu-->
    </div>

</template>

<script>
    export default {
        props: {active: Boolean}
    }
</script>