<template>

  <div class="card card-custom gutter-b">
    <div class="card-header flex-wrap py-3">
      <div class="card-title">
        <h3 class="card-label">
          {{this.kanban_name}}
          <span class="d-block text-muted pt-2 font-size-sm">Реализовано на Vue tables 2. Время интеграции в метроник 1 час!</span>
        </h3>
      </div>
      <div class="card-toolbar">
        <router-link :to="'/projects'">
          <a href="javascript:void(0)" class="btn btn-primary font-weight-bolder projects__button">
          <span class="svg-icon svg-icon-md"><!--begin::Svg Icon | path:/metronic/themes/metronic/theme/html/demo1/dist/assets/media/svg/icons/Design/Flatten.svg-->
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <rect x="0" y="0" width="24" height="24"></rect>
                <circle fill="#000000" cx="9" cy="15" r="6"></circle>
                <path
                    d="M8.8012943,7.00241953 C9.83837775,5.20768121 11.7781543,4 14,4 C17.3137085,4 20,6.6862915 20,10 C20,12.2218457 18.7923188,14.1616223 16.9975805,15.1987057 C16.9991904,15.1326658 17,15.0664274 17,15 C17,10.581722 13.418278,7 9,7 C8.93357256,7 8.86733422,7.00080962 8.8012943,7.00241953 Z"
                    fill="#000000" opacity="0.3"></path>
              </g>
            </svg><!--end::Svg Icon-->
          </span>
            К проектам
          </a>
        </router-link>

        <a href="javascript:void(0)" class="btn btn-primary font-weight-bolder" @click="addTask()">
          <span class="svg-icon svg-icon-md"><!--begin::Svg Icon | path:/metronic/themes/metronic/theme/html/demo1/dist/assets/media/svg/icons/Design/Flatten.svg-->
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <rect x="0" y="0" width="24" height="24"></rect>
                <circle fill="#000000" cx="9" cy="15" r="6"></circle>
                <path
                    d="M8.8012943,7.00241953 C9.83837775,5.20768121 11.7781543,4 14,4 C17.3137085,4 20,6.6862915 20,10 C20,12.2218457 18.7923188,14.1616223 16.9975805,15.1987057 C16.9991904,15.1326658 17,15.0664274 17,15 C17,10.581722 13.418278,7 9,7 C8.93357256,7 8.86733422,7.00080962 8.8012943,7.00241953 Z"
                    fill="#000000" opacity="0.3"></path>
              </g>
            </svg><!--end::Svg Icon-->
          </span>
          Создач задачу
        </a>
        <!--end::Button-->
      </div>
    </div>
    <div class="card-body">
      <div class="dataTables_wrapper dt-bootstrap4 no-footer">
        <kanban-board
            :stages="stages"
            :blocks="blocks"
            @update-block="updateBlock"
            v-if="typeof blocks != 'undefined'"
        >
          <div v-for="stage in stages" :slot="stage" :key="stage">
            <h2>{{ stage }}</h2>
          </div>
          <div v-for="block in blocks" :slot="block.id" :key="block.id" @click="show('update-task', block.id)">
            <div>
              <i class="task__number"><strong>Задача №:</strong> {{ block.id }}</i>
            </div>
            <div class="task__slug">
              <b>{{ block.title }}</b>
            </div>
            <div class="task__description">
              {{ setCutText(block.description) }}
            </div>
          </div>
        </kanban-board>
      </div>
    </div>

    <modal name="add-task" :height="'auto'">

      <div class="card card-custom gutter-b example example-compact">
        <div class="card-header">
          <h3 class="card-title">Создание новой задачи</h3>
          <div class="card-toolbar">
            <div class="example-tools justify-content-center">

            </div>
          </div>
        </div>
        <form class="modal__task" @submit.prevent="createTask()">
          <div class="form-group">
            <label for="title">Задача</label>
            <input type="text" v-model="new_task.title" class="form-control" name="title" id="title">
          </div>

          <div class="form-group">
            <label for="exampleFormControlTextarea1">Описание задачи</label>
            <textarea class="form-control" v-model="new_task.description" id="exampleFormControlTextarea1" rows="12"></textarea>
          </div>

          <button type="submit" class="btn btn-primary">Сохранить</button>
        </form>
      </div>

    </modal>

    <modal name="update-task" :height="'auto'">

      <div class="card card-custom gutter-b example example-compact">
        <div class="card-header">
          <h3 class="card-title">Редактирование задачи</h3>
          <div class="card-toolbar">
            <div class="example-tools justify-content-center">

            </div>
          </div>
        </div>
        <form class="modal__task" @submit.prevent="editBlock()">
          <div class="form-group">
            <label for="title">Задача</label>
            <input type="text" v-model="one_block.title" class="form-control" name="title" id="title">
          </div>

          <div class="form-group">
            <label for="exampleFormControlTextarea1">Описание задачи</label>
            <textarea class="form-control" v-model="one_block.description" id="exampleFormControlTextarea1" rows="12"></textarea>
          </div>

          <button type="submit" class="btn btn-primary">Сохранить</button>
        </form>
      </div>

    </modal>

  </div>

</template>

<script>

import {mapActions, mapGetters} from 'vuex';
import axios from 'axios';

export default {

  data() {
    return {
      stages: ['on-hold', 'in-progress', 'needs-review', 'approved'],
      blocks: this.GET_TASKS,
      one_block: {},
      new_task: {},
      kanban_name: '',
    }
  },

  computed: {
    ...mapActions([
      'GET_ALL_TASKS',
    ]),
    ...mapGetters([
      'GET_TASKS'
    ]),
  },

  methods: {
    updateBlock(id, status, index) {
      console.log(index);
      axios
        .put('tasks/' + id, {
          id: id,
          status: status,
        })
        .then( () => {
          this.getBlock();
        });
    },

    getBlock() {
      axios.get('tasks?project_id=' + this.$route.params.project_id).then((response) => {
        this.$store.commit('SET_TASKS', response.data.data);
        this.blocks = this.GET_TASKS;
      })
    },

    addTask() {
      this.$modal.show('add-task');
    },

    createTask() {
      this.new_task.status_id = 1;
      this.new_task.project_id = this.$route.params.project_id;

      axios
        .post('/tasks', this.new_task)
        .then( () => {
          this.getBlock();
          this.$notify({
            title: 'Success',
            message: 'Задача успешно создана',
            type: 'success'
          });
          this.new_task = {};
          this.$modal.hide('add-task');
        })
        .catch(() => {
          this.$notify.error({
            title: 'Error',
            message: 'Ошибка создания задачи'
          });
        });
    },

    getOneBlock(id) {
      axios
        .get('tasks/' + id)
        .then( (res) => {
          this.one_block = res.data;
        });
    },

    show (modal_name, id) {
      this.getOneBlock(id);
      this.$modal.show(modal_name);
    },

    editBlock () {
      axios
        .put('tasks/' + this.one_block.id, this.one_block)
        .then( () => {
          this.getBlock();
          this.$notify({
            title: 'Success',
            message: 'Задача успешно обновлена',
            type: 'success'
          });
          this.$modal.hide('update-task');
        })
        .catch(() => {
          this.$notify.error({
            title: 'Error',
            message: 'Ошибка обновления задачи'
          });
        });
    },

    /* обрезка текста */
    setCutText(text) {
      if (text == null) {
        return 'non description';
      }

      let size = 50;

      if (text.length > size) {
        return text.slice(0, size) + '...';
      }

      return text;
    },

    getProjectName() {
      axios
        .get('project/' + this.$route.params.project_id)
        .then( (response) => {
          this.kanban_name = response.data.slug;
        });
    },
  },

  mounted() {
    this.getBlock();
    this.getProjectName();
  }

}

</script>

<style lang="scss">

@import '../../../node_modules/vue-kanban/src/assets/kanban.scss';

ul.drag-list, ul.drag-inner-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.drag-container {
  max-width: 1000px;
  margin: 20px auto;
}

.drag-list {
  display: flex;
  align-items: flex-start;
}
@media (max-width: 690px) {
  .drag-list {
    display: block;
  }
}

.drag-column {
  flex: 1;
  margin: 0 10px;
  position: relative;
  background: rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
@media (max-width: 690px) {
  .drag-column {
    margin-bottom: 30px;
  }
}
.drag-column h2 {
  font-size: 0.8rem;
  margin: 0;
  text-transform: uppercase;
  font-weight: 600;
}

.drag-column-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.drag-inner-list {
  min-height: 50px;
  color: white;
}

.drag-item {
  padding: 10px;
  margin: 10px;
  height: 100px;
  background: rgba(0, 0, 0, 0.4);
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}
.drag-item.is-moving {
  transform: scale(1.5);
  background: rgba(0, 0, 0, 0.8);
}

.drag-header-more {
  cursor: pointer;
}

.drag-options {
  position: absolute;
  top: 44px;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  transform: translateX(100%);
  opacity: 0;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}
.drag-options.active {
  transform: translateX(0);
  opacity: 1;
}
.drag-options-label {
  display: block;
  margin: 0 0 5px 0;
}
.drag-options-label input {
  opacity: 0.6;
}
.drag-options-label span {
  display: inline-block;
  font-size: 0.9rem;
  font-weight: 400;
  margin-left: 5px;
}

/* Dragula CSS  */
.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  list-style-type: none;
}

.gu-hide {
  display: none !important;
}

.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.gu-transit {
  opacity: 0.2;
}

/*фон колонок*/
.drag-column.drag-column-approved {
  background-color: rgba(40, 167, 69, 0.46);
}

.drag-column.drag-column-in-progress {
  background-color: #b8daff;
}

.drag-column.drag-column-needs-review {
  background-color: #f1d47f;
}

.drag-column.drag-column-on-hold {
  background-color: rgba(232, 62, 140, 0.21);
}
/************/

.drag-item {
  height: 140px;
}

.modal__task {
  margin: 20px;
}

.task__slug {
  color: #91e438;
}

.task__description {
  color: #ffd126fa;
}

.task__number {
  color: #8fe4ad;
}

.projects__button {
  margin-right: 5px;
}
</style>
