<template>
    <div class="card card-custom">
        <div class="card-header flex-wrap border-0 pt-6 pb-0">
            <div class="card-title">
                <h3 class="card-label">Faq
                </h3>
            </div>
            <div class="card-toolbar">
                <BaseCreateBtn
                    @click="addFaq()"
                >Создать</BaseCreateBtn>
            </div>
        </div>
        <div class="card-body">
            <div class="dataTables_wrapper dt-bootstrap4 no-footer">
                <v-server-table
                    url="/admin/faq"
                    :columns="columns"
                    :options="options"
                    class="faq-table"
                    ref="faq-table"
                    >
                    <div class="text-center" slot="actions" slot-scope="props" style="width: 100px">
                        <div class="dropdown dropdown-inline">
                            <BaseTableEditBtn
                                @click="editFaq(props.row)"
                            />

                            <BaseTableDeleteBtn
                                @click="deleteFaq(props.row.id)"
                            />
                        </div>
                    </div>
                </v-server-table>
            </div>
            <modal name="faq-form" height="auto" :scrollable="true" :adaptive="true">
                <FaqForm
                    :faq="faq"
                    @onSave="$refs['faq-table'].refresh()"
                />
            </modal>
        </div>
    </div>
</template>

<script>

import FaqForm from '@/components/faq/Form';
import {vueTableMixin} from '@/views/mixins/vueTableMixin';

export default {

    name: 'Index',
    mixins: [vueTableMixin],
    components: {FaqForm},

    data () {
        return {
            faq: null,
            columns: [
                'id',
                'question',
                'answer',
                'actions'
            ],
            options: {
                headings: {
                    question: 'Вопрос',
                    answer: 'Ответ',
                    actions: 'Действия'
                },
                filterable:false
            }
        }
    },

    methods: {
        addFaq() {
            this.faq = null;
            this.$modal.show('faq-form')
        },

        editFaq(faq) {
            this.faq = faq;
            this.$modal.show('faq-form')
        },

        deleteFaq(id) {
            this.$confirm('Вы действительно хотите удалить этот вопрос')
                .then(() => {
                    this.$axios.delete(`/faq/${id}`).then(() => {
                        this.$refs['faq-table'].refresh()
                        this.$notify({
                          title: 'Success',
                          message: 'Вопрос успешно удален',
                          type: 'success'
                        });
                    });

                })
                .catch(() => {
                    this.$notify.error({
                        title: 'Error',
                        message: 'Ошибка удаления товара'
                    });
                });
        }

    }
}
</script>

<style>
    .faq-table table th:nth-child(4), table td:nth-child(4) {
        text-align: center;
        width: 20px;
    }
</style>
