<template>
  <div>
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Форма редактирования роли</h4>
        <div class="row">
          <div class="col-lg-6 col-md-9 col-sm-12">
            <form class="forms-sample" @submit.prevent="saveForm()">

              <div class="form-group" v-bind:class="{'has-danger': errors.name}">
                <label for="">Системное имя *</label>
                <input class="form-control" placeholder="Системное имя" v-bind:class="{'form-control-danger': errors.name}" v-model="form.name">
                <label class="error mt-2 text-danger" v-if="errors.name">{{errors.name}}</label>
              </div>

              <div class="form-group" v-bind:class="{'has-danger': errors.display_name}">
                <label for="">Отображаемое имя *</label>
                <input class="form-control" placeholder="Отображаемое имя" v-bind:class="{'form-control-danger': errors.display_name}" v-model="form.display_name">
                <label class="error mt-2 text-danger" v-if="errors.display_name">{{errors.display_name}}</label>
              </div>

              <div class="form-group">
                <label for="">Описание</label>
                <textarea class="form-control" placeholder="Описание" rows="4" v-model="form.description"></textarea>
              </div>

              <div class="form-group">
                <div class="checkbox-inline">
                    <label class="checkbox" :key="key" v-for="(item, key) in permissions">
                      <input type="checkbox" v-bind:value="item.id" v-model="form.permissions">
                      <span></span>
                      {{item.name}}
                    </label>
                </div>
              </div>

              <button type="submit" class="btn btn-primary mr-2">Сохранить</button>
              <router-link :to="{name: 'roles'}" class="btn btn-light">Отмена</router-link>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

import axios from 'axios';

export default {

  name: "RoleForm",

  data() {
    return {
      form: this.initForm(),
      permissions: [],
      isProcess: false,
      errors: {},
      urlRoles: 'roles/',
      urlPermissions: 'permissions?limit=10',
    }
  },

  methods: {
    getData() {
      axios.get(this.urlRoles + this.$route.params.id).then((response) => {
        this.form = response.data;
      })
    },

    getPermissions(){
      axios.get(this.urlPermissions).then((response) => {
        this.permissions = response.data.data;
      })
    },

    initForm(){
      return {
        name: '',
        display_name: '',
        description: '',
        permissions: [],
      }
    },

    saveForm(){
      axios.put(this.urlRoles + this.$route.params.id, this.form).then(() => {
        window.location.href='/roles';
      })
    },
  },

  created() {
    this.initForm();
  },

  mounted() {
    this.getData();
    this.getPermissions();
  }
}
</script>

<style scoped>

</style>