<template>
    <div id="app">

        <div class="d-flex flex-column flex-root" v-if="isLoading && !$store.getters.USER_ID">
            <router-view></router-view>
        </div>

        <div v-if="isLoading && $store.getters.USER_ID">
            <header-block-mobile
                @onSidebarClick="openSidebar = !openSidebar"
            ></header-block-mobile>
            <div class="d-flex flex-column flex-root">
                <div class="d-flex flex-row flex-column-fluid page">
                    <sidebar-block
                        :active="openSidebar"
                    ></sidebar-block>
                    <div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">
                        <header-block></header-block>
                        <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
                            <div class="" v-bind:class="checkRoute() ? 'container' : ''">
                                <transition :name="transitionName"
                                            mode="out-in">
                                    <router-view></router-view>
                                </transition>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <modals-container></modals-container>

    </div>
</template>

<script>

    const HeaderBlockMobile = () => import('./components/HeaderBlockMobile');
    const SidebarBlock = () => import('./components/SidebarBlock');
    const HeaderBlock = () => import('./components/HeaderBlock');

    export default {
        name: 'App',
        components: {
            HeaderBlockMobile, SidebarBlock, HeaderBlock
        },

        data() {
            return {
                openSidebar: false,
                isLoading: false,
                transitionName: 'slide-left',
                fluidRoutes: [
                    'access-settings', 'roles'
                ]
            }
        },

        methods: {
            getMe() {
                this.$store.dispatch('GET_ME').then(() => {
                    this.isLoading = true;
                }, () => {
                    this.isLoading = true;
                })
            },
            checkRoute() { console.log(this.fluidRoutes.indexOf(this.$route.name))
                if(this.fluidRoutes.indexOf(this.$route.name) >= 0) {
                    return false;
                }
                return true;
            },
            beforeLeave(element) {
                this.prevHeight = getComputedStyle(element).height;
            },
            enter(element) {
                const { height } = getComputedStyle(element);

                element.style.height = this.prevHeight;

                setTimeout(() => {
                    element.style.height = height;
                });
            },
            afterEnter(element) {
                element.style.height = 'auto';
            },
        },

        mounted() {
            this.getMe();
        },

        watch: {
            '$route': function(to, from) {
                const toDepth = to.path.split('/').length
                const fromDepth = from.path.split('/').length
                this.transitionName = toDepth < fromDepth ? 'slide-right' : 'slide-left'
                this.openSidebar = false;
            }
        },

        created() {

            this.$router.beforeEach((to, from, next) => {
                let transitionName = to.meta.transitionName || from.meta.transitionName;

                if (transitionName === 'slide') {
                    const toDepth = to.path.split('/').length;
                    const fromDepth = from.path.split('/').length;
                    transitionName = toDepth < fromDepth ? 'slide-right' : 'slide-left';
                }
                this.transitionName = transitionName || 'slide-left';
                next();
            });
        },
    }
</script>
