<template>

    <div class="login-signin">
       <!--  <div class="mb-20">
            <h3 class="opacity-40 font-weight-normal">Sign In To Admin</h3>
            <p class="opacity-40">Enter your details to login to your account:</p>
        </div> -->
        <form class="form" @submit.prevent="login()">
            <div class="form-group" v-bind:class="{'fv-plugins-icon-container has-danger': errors.email}">
                <input class="form-control h-auto text-white bg-white-o-5 rounded-pill border-0 py-4 px-8" type="text"
                       v-bind:class="{'is-invalid': errors.email}"
                       placeholder="Email" v-model="form.email" autocomplete="off" />
            </div>
            <div class="form-group" v-bind:class="{'fv-plugins-icon-container has-danger': errors.password}">
                <input class="form-control h-auto text-white bg-white-o-5 rounded-pill border-0 py-4 px-8" type="password"
                       v-bind:class="{'is-invalid': errors.password}"
                       placeholder="Пароль" v-model="form.password" />
            </div>
<!--            <div class="form-group d-flex flex-wrap justify-content-between align-items-center px-8 opacity-60">-->
<!--                <label class="checkbox checkbox-outline checkbox-white text-white m-0">-->
<!--                    <input type="checkbox" name="remember" />Remember me-->
<!--                    <span></span></label>-->
<!--                <a href="javascript:;" id="kt_login_forgot" class="text-white font-weight-bold" @click="$parent.$data.activeForm = 'forgot'">Забыл пароль ?</a>-->
<!--            </div>-->
            <div class="form-group text-center mt-10">
                <button id="kt_login_signin_submit" type="submit" class="btn btn-pill btn-primary opacity-90 px-15 py-3" v-bind:class="{'spinner spinner-darker-white spinner-left': isProcess}">
                    Войти
                </button>
            </div>
        </form>
<!--        <div class="mt-10">-->
<!--            <span class="opacity-40 mr-4">У вас еще нет аккаунта?</span>-->
<!--            <a href="javascript:;" id="kt_login_signup" class="text-white opacity-30 font-weight-normal" @click="$parent.$data.activeForm = 'register'">Регистрация</a>-->
<!--        </div>-->
    </div>

</template>


<script>

    export default {

        data() {
            return {
                form: {},
                errors: {},
                isProcess: false
            }
        },

        methods: {
            login() {
                if(this.isProcess) {return}
                this.isProcess = true;
                this.errors = {};
                this.$axios.get(this.$configApi.sanctum).then(() => {
                    this.$axios.post(this.$configApi.auth + '/login', this.form).then(() => {
                        this.getMe();
                        this.isProcess = false;
                    }, (response) => {
                        this.errors = response.response.data.errors;
                        this.isProcess = false;
                    })
                });

            },
            getMe() {
                this.$store.dispatch('GET_ME').then(() => {
                    this.$router.push({name: 'index'})
                })
            }
        },

        mounted() {
            this.$axios.get(this.$configApi.sanctum).then(() => {
    // Login...
});
        }

    }

</script>