<template>
  <div class="card card-custom gutter-b example example-compact">

      <div class="card-header">
        <h3 class="card-title">Редактирование пользователя</h3>
        <div class="card-toolbar">
          <div class="example-tools justify-content-center">

          </div>
        </div>
      </div>

      <form @submit.prevent="saveForm">
        <div class="card-body">
          <div class="form-row">
            <label for="Login">Login</label>
            <input type="text" class="form-control" id="Login" v-model="form.name">
          </div>

          <div class="form-row">
            <label for="Email">Email</label>
            <input type="text" class="form-control" id="Email" v-model="form.email">
          </div>

          <div class="form-group">
            <label for="">Роль</label>
<!--            <select class="form-control" v-model="form.user_role_id">-->
            <select class="form-control" v-model="form.role_id">
              <option :key="role.id" :value="role.id" v-for="role in roles">{{role.display_name}}</option>
            </select>
          </div>

<!--          <p :key="role.id" :value="role.id" v-for="role in roles">{{role}}</p>-->

          <div class="form-row">
            <label for="Password">Password</label>
            <input type="password" class="form-control" id="Password" v-model="form.password">
          </div>

          <div class="form-row">
            <label for="Password confirmed">Password confirmed</label>
            <input type="password" class="form-control" id="Password confirmed" v-model="form.password_confirmation">
          </div>
        </div>

        <div class="card-footer">
          <button type="submit" class="btn btn-primary">Сохранить</button>
          <router-link :to="'/users'" class="btn btn-light ml-2">Cancel</router-link>
        </div>

      </form>

  </div>
</template>

<script>

import axios from 'axios';

export default {
  name: "UserForm",
  props: {
    user: Object
  },

  data(){
    return{
      form: this.initForm(),
      roles: {},
      url: 'user/',
      urlUser: 'user/',
      urlRoles: 'roles?limit=10',
    }
  },

  methods: {
    initForm(){
      return {
        name: '',
        email: '',
        role_id: null,
      };
    },

    saveForm(){
      axios.put(this.url + this.form.id, this.form)
          .then(() => {
            window.location.href='/users';
          })
          .catch((errors)=>{
            console.log(errors);
          })
    },

    getRoles() {
      axios.get(this.urlRoles).then((response) => {
        this.roles = response.data.data;
      })
    },

    getData(){
      axios.get(this.urlUser + this.$route.params.id).then((response) => {
        this.form = Object.assign(this.form, response.data);
      })
    },

  },

  created() {
    if (this.user) {
      this.form = Object.assign(this.form, this.user);
    }

    this.getData();
    this.getRoles();
  },

}
</script>

<style scoped>
.user_edit_form {
  margin: 20px;
}
</style>
